{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/properties.css') }}">
{% endblock %}

{% block title %}
Properties
{% endblock %}

{% block body %}
<div loading="lazy" class="container-3" id="properties">
  <div class="box">
    <h4>Find Your Dream Home</h4>
    <div class="form">
      <form id="form1" action="{{ url_for('main.search_property') }}" method="post">
        <input id="search-property" required type="text" name="search" spellcheck="false"
          placeholder="Search for any property by type, location, price">
        <button type="submit">Search</button>
      </form>
      <span id="live">Live search</span>
      <span id="lives">Normal search</span>
      <form id="form2">
        <input id="property-search" type="text" name="search" required spellcheck="false"
          placeholder="Live Search for any property by type, location, price">
      </form>
    </div>
  </div>
  {% if  units %}
  <div id="all-units" class="all-units">
    {% for unit in units %}
    <div id="units" class="units">
      {% if unit.date.strftime("%d/%m/%Y") == today_time %}
      <span id="new">New to market</span>
      {% endif %}
      {% for property in properties or propertiez if property.id == unit.Property %}
      {% if property.Type == "Apartment" %}
      <img loading="lazy" src="{{ url_for('static', filename='Images/inside_apartment.jpg') }}" alt="apartment">
      {% endif %}
      {% endfor %}
      <div id="unit-info" class="unit-info">
        <h4>
          {% for property in properties or propertiez if property.id == unit.Property %}
          {% if property.Type == "Office" %}
          {{ unit.Type }}
          {% else %}
          {{ unit.Type }} {{ property.Type }}
          {% endif %}
          {% endfor %}
          {{ unit.name }}
        </h4>
        <span id="address">
          {% for property in properties or propertiez if property.id == unit.Property %}
          {{ property.address }}, {{ property.address2 }}
          {% endfor %}
        </span>
        <table id="table">
          <tr>
            <th>
              <img src="{{ url_for('static', filename='Images/area.png') }}" alt="square meters">
            </th>
            <td>{{ unit.living_space }} SQM</td>
          </tr>
          <tr>
            <th>
              <img src="{{ url_for('static', filename='Images/beds.png') }}" alt="bedrooms">
            </th>
            {% for property in properties or propertiez if property.id == unit.Property %}
            {% if property.Type == "Apartment" and unit.Type != "Bedsitter" %}
            <td>{{ unit.bedrooms }} Bedrooms</td>
            {% elif unit.Type == "Bedsitter" %}
            <td>1 Room</td>
            {% elif property.Type == "Office" %}
            <td>Furniture Available</td>
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th>
              <img src="{{ url_for('static', filename='Images/bathtub.png') }}" alt="bathrooms">
            </th>
            {% for property in properties or propertiez if property.id == unit.Property %}
            {% if property.Type == "Apartment" %}
            <td>{{ unit.bathrooms }} Bathrooms</td>
            {% elif property.Type == "Office" %}
            <td>Amenities Available</td>
            {% endif %}
            {% endfor %}
          </tr>
        </table>
        <hr>
        <div class="rent">
          <p><span>{{ "Ksh {:,}".format(unit.rent_amount) }}</span>
            {% for property in properties or propertiez if unit.Property == property.id %}
            {% if property.status == "Rent" %}
            / Month
            {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
      <a href="{{ url_for('main.unit_details', unit_id=unit.id) }}">
        <button>View Property</button>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="navigation-btns">
    <div class="pagination">
      {% if prev_url %}
      <a href="{{ prev_url }}">Previous Page</a>
      {% endif %}
      <div class="page-number">
        {% if prev_page_number %}
        <a href="{{ url_for('main.properties', page=prev_page_number) }}"
          class="page-number active">{{ prev_page_number }}</a>
        {% endif %}
        {% if not next_page_number and not prev_page_number %}
        {% elif not next_page_number %}
        <a id="current" href="{{ url_for('main.properties', page=prev_page_number+1) }}"
          class="page-number active">{{ prev_page_number + 1 }}</a>
        {% else %}
        <a id="current" href="{{ url_for('main.properties', page=next_page_number-1) }}"
          class="page-number active">{{ next_page_number - 1 }}</a>
        {% endif %}
        {% if next_page_number %}
        <a href="{{ url_for('main.properties', page=next_page_number) }}"
          class="page-number active">{{ next_page_number }}</a>
        {% endif %}
      </div>
      {% if next_url %}
      <a href="{{ next_url }}">Next Page</a>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="no-units">
    <h4>No vacant properties at the moment. We're working on adding more properties. <br> Please come by later</h4>
  </div>
  {% endif %}
</div>

<script src="{{ url_for('static', filename='js/properties.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% endblock %}
