{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/properties.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="styles.css">
{% endblock %}

{% block title %}
Properties
{% endblock %}

{% block body %}
<main class="container">
  <div class="container-header">
    <h1>Prime Properties</h1>
    <p class="subtitle">Discover your perfect rental home</p>
  </div>
  <div class="properties-grid">
    {% for unit in units %}
    <div class="property-card">
      <div class="carousel-container">
        <div class="carousel">
          {% if not unit.unit_image %}
          <div class="no-image">
            <i class="fas fa-image"></i>
          </div>
          {% else %}
          {% for unit_image in unit_images if unit_image.unit == unit.id %}
          <img loading="lazy"
            src="https://{{ unit_image.bucket }}.s3.{{ unit_image.region }}.amazonaws.com/{{ unit_image.name }}"
            alt="Luxury Villa">
          {% endfor %}
          {% endif %}
        </div>
        <button class="carousel-btn prev"><i class="fas fa-chevron-left"></i></button>
        <button class="carousel-btn next"><i class="fas fa-chevron-right"></i></button>
        <div class="carousel-indicators">
          {% for unit_image in unit_images if unit_image.unit == unit.id %}
          <div class="indicator active"></div>
          {% endfor %}
        </div>
      </div>
      <div class="property-details">
        <span>{{ unit.units.name }}</span>
        <h3 class="property-title">{{ unit.unit_type }}</h3>
        <div class="property-location">
          <i class="fas fa-map-marker-alt"></i>
          <span>{{ unit.units.county }}, {{ unit.units.city }}</span>
        </div>
        {% for unit_metric in unit_metrics if unit_metric.unit == unit.id %}
        <div class="property-features">
          <div class="feature">
            <i class="fas fa-bed"></i>
            <span>{{ unit_metric.bedrooms }} Beds</span>
          </div>
          <div class="feature">
            <i class="fas fa-bath"></i>
            <span>{{ unit_metric.bathrooms }} Baths</span>
          </div>
          <div class="feature">
            <i class="fas fa-vector-square"></i>
            <span>{{ "{:,}".format(unit_metric.living_space) }} sqft</span>
          </div>
        </div>
        {% endfor %}
        <div class="price">
          {{ "Tsh {:,}".format(unit.rent_amount) }} <span>/month</span>
        </div>
        <a href="{{ url_for('main.unit_details', unit_id=unit.unique_id, unit_alias=unit.alias) }}" class="cta-btn">View
          Details</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="pagination-box">
    <div class="pagination">
      {% if prev_url %}
      <div class="prev-url pagination-url">
        <i class="fa fa-angle-left"></i>
        <a href="{{ prev_url }}">Previous Page</a>
      </div>
      {% endif %}
      {% if searched_data %}
      <div class="page-number-box">
        {% if prev_page_number %}
        <a href="{{ url_for('main.properties', page=prev_page_number) }}" class="page-number">
          {{ prev_page_number }}
        </a>
        {% endif %}
        {% if not next_page_number and not prev_page_number %}
        {% elif not next_page_number %}
        <a id="current" href="{{ url_for('main.properties', page=prev_page_number + 1) }}" class="page-number">
          {{ prev_page_number + 1 }}
        </a>
        {% else %}
        <a id="current" href="{{ url_for('main.properties', page=next_page_number-1) }}" class="page-number">
          {{ next_page_number - 1 }}
        </a>
        {% endif %}
        {% if next_page_number %}
        <a href="{{ url_for('main.properties', page=next_page_number) }}" class="page-number">{{
              next_page_number }}</a>
        {% endif %}
      </div>
      {% else %}
      <div class="page-number-box">
        {% if prev_page_number %}
        <a href="{{ url_for('main.properties', page=prev_page_number) }}" class="page-number">
          {{ prev_page_number }}
        </a>
        {% endif %}
        {% if not next_page_number and not prev_page_number %}
        {% elif not next_page_number %}
        <a id="current" href="{{ url_for('main.properties', page=prev_page_number + 1) }}" class="page-number">
          {{ prev_page_number + 1 }}
        </a>
        {% else %}
        <a id="current" href="{{ url_for('main.properties', page=next_page_number-1) }}" class="page-number">
          {{ next_page_number - 1 }}
        </a>
        {% endif %}
        {% if next_page_number %}
        <a href="{{ url_for('main.properties', page=next_page_number) }}" class="page-number">{{
              next_page_number }}</a>
        {% endif %}
      </div>
      {% endif %}
      {% if next_url %}
      <div class="next-url pagination-url">
        <a href="{{ next_url }}">Next Page</a>
        <i class="fa fa-angle-right"></i>
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/properties.js')}}"></script>
{% endblock %}
