{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/property_details.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
{{ unit.unit_type }}
{% for property_type in property_types if property.id == property.property_type %}
{{ property_type.name }} | {{ property.county }} {{ property.city }}
{% endfor %}
{% endblock %}

{% block body %}
<div class="unit-container">
  <div class="unit-details-box">
    <div class="unit--info">
      <h1>{{ unit.unit_type }}</h1>
      <p>Modern {{ unit.unit_type }} with Basic Furniture in {{ property.county }},
        {{ property.city }}
      </p>
    </div>
    <div class="more-info">
      <p>This spacious {{ unit.unit_type }} from comes fully furnished with {{ unit.unit_type }}s, 1 shared bathroom, a
        kitchen with storage and a balcony. Water, electricity and Wi-fi is included.</p>
    </div>
    <div class="unit-metrics-box">
      {% for unit_metric in unit.unit_metrics %}
      <div class="unit-metric">
        <img src="{{ url_for('static', filename='images/area.png') }}" alt="">
        <div class="area">
          <h4>Living Space</h4>
          <p>{{ unit_metric.living_space }} SQM</p>
        </div>
      </div>
      <div class="unit-metric">
        <img src="{{ url_for('static', filename='images/area.png') }}" alt="">
        <div class="area">
          <h4>Balcony Space</h4>
          <p>{{ unit_metric.balcony_space }} SQM</p>
        </div>
      </div>
      <div class="unit-metric">
        <img src="{{ url_for('static', filename='images/beds.png') }}" alt="">
        <div class="area">
          <h4>Bedrooms</h4>
          <p>{{ unit_metric.bedrooms }} Bedroom(s)</p>
        </div>
      </div>
      <div class="unit-metric">
        <img src="{{ url_for('static', filename='images/bathtub.png') }}" alt="">
        <div class="area">
          <h4>Bathrooms</h4>
          <p>{{ unit_metric.bathrooms }} Bathroom(s)</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="unit-rent">
      <p><span id="rent">{{ "Ksh {:,}".format(unit.rent_amount) }}</span>/Month</p>
    </div>
    <div class="unit-status">
      {% if unit.is_reserved == False %}
      <a href="{{ url_for('main.reserve_unit', unit_id=unit.unique_id) }}">
        <button class="reserve-btn">Reserve Unit</button>
      </a>
      {% endif %}
    </div>
  </div>
  <div class="unit-image-box">
    <img loading="lazy" src="{{ url_for('static', filename='Images/inside_apartment.jpg') }}" alt="apartment" />
  </div>
</div>
<div class="form-container">
  <div class="landlord-info">
    <h1>Landlord Information</h1>
    <hr id="hr">
    <div class="landlord-details-box">
      <div class="landlord-details">
        <p>Name</p>
        <h4>{{ landlord.first_name }} {{ landlord.last_name }}</h4>
      </div>
      <div class="landlord-details">
        <p>Email</p>
        <h4>{{ landlord.email }}</h4>
      </div>
      <div class="landlord-details">
        <p>Phone Number</p>
        <h4>0{{ landlord.phone }}</h4>
      </div>
    </div>
  </div>
  <div class="unit-enquiry-box">
    <h1 id="prop-details">Unit Enquiry</h1>
    <form action="#" method="post">
      {{ form.csrf_token }}
      <div class="input">
        {{ form.first_name.label }}
        {{ form.first_name(placeholder="Eg. John", class="name") }}
      </div>
      <div class="input">
        {{ form.last_name.label }}
        {{ form.last_name(placeholder="Eg. Doe", class="name") }}
      </div>
      <div class="input">
        {{ form.email_address.label }}
        {{ form.email_address(placeholder="Eg. johndoe@gmail.com", class="name") }}
      </div>
      <div class="input">
        {{ form.phone_number.label }}
        {{ form.phone_number(placeholder="Eg. 07xx xxx xxx", class="name") }}
      </div>
      <div class="input extend">
        {{ form.message.label }}
        {{ form.message(placeholder="Enter your message", class="name") }}
      </div>
      <button class="btn" type="submit">
        <span class="button--text">Send</span>
      </button>
    </form>
  </div>
</div>
{% endblock %}
