{% extends 'base_landlord.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_tenant_dashboard.css') }}">
{% endblock %}

{% block title %}
Tenant Dashboard
{% endblock %}

{% block nav %}
<button class="tablinks active" onclick="openView(event, 'dashboard')">
  <img src="{{ url_for('static', filename='Images/dashboard.png') }}" alt="dashboard">
  Dashboard
</button>
<button class="tablinks" onclick="openView(event, 'landlord')">
  <img src="{{ url_for('static', filename='Images/man.png') }}" alt="Landlord">
  My Landlord
</button>
<button class="tablinks" onclick="openView(event, 'unit')">
  <img src="{{ url_for('static', filename='Images/home.png') }}" alt="Unit">
  My Unit
</button>
<button class="tablinks" onclick="openView(event, 'complaints')">
  <img src="{{ url_for('static', filename='Images/feedback.png') }}" alt="complaints">
  Complaints
</button>
<button class="tablinks" onclick="openView(event, 'payments')">
  <img src="{{ url_for('static', filename='Images/credit-card.png') }}" alt="Payments">
  Payments
</button>
{% endblock %}

{% block body %}
<div id="dashboard" class="tabcontent active">
  <h4 id="dash">My Dashboard</h4>
  <div class="dash-information">
    <div class="unit-information">
      {% if unit %}
      <h4>Unit ID - <span id="unit-id">#{{ unit.unique_id }}</span></h4>
      <div class="unit-info">
        <div class="main-info">
          <div class="unit-details-box">
            <h4>Unit Name</h4>
            <p>{{ unit.name }}</p>
          </div>
          <div class="unit-details-box">
            <h4>Unit Type</h4>
            <p>{{ unit.unit_type }}</p>
          </div>
          <div class="unit-details-box">
            <h4>Unit Floor</h4>
            <p>
              {{ unit.unit_floor }}
              {% if unit.unit_floor % 10 == 1 %}
              <sup>st</sup> Floor
              {% elif unit.unit_floor % 10 == 2 %}
              <sup>nd</sup> Floor
              {% elif unit.unit_floor % 10 == 3 %}
              <sup>rd</sup> Floor
              {% else %}
              <sup>th</sup> Floor
              {% endif %}
            </p>
          </div>
          <div class="unit-details-box">
            <h4>Unit Rent</h4>
            <p>{{ "Ksh {:,}".format(unit.rent_amount) }}</p>
          </div>
        </div>
        <div class="property-info">
          {% if properties.properties.name == "Office" %}
          <img src="{{ url_for('static', filename='Images/office building.png') }}" alt="apartment">
          {% elif properties.properties.name == "Apartment" %}
          <img src="{{ url_for('static', filename='Images/3d apartment.png') }}" alt="apartment">
          {% else %}
          <img src="{{ url_for('static', filename='Images/residential.png') }}" alt="apartment">
          {% endif %}
        </div>
        <div class="property-details">
          <div class="property-details-box">
            <h4>Property Name</h4>
            <p>{{ properties.name }}</p>
          </div>
          <div class="property-details-box">
            <h4>Property Address</h4>
            <p>{{ properties.county }}, {{ properties.city }}</p>
          </div>
          <div class="property-details-box">
            <h4>Property Type</h4>
            <p>{{ properties.properties.name }}</p>
          </div>
          <div class="property-details-box">
            <h4>Property Floors</h4>
            <p>{{ properties.property_floors }} Floors</p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="else">
        <h4>No Unit Assigned</h4>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div id="landlord" class="tabcontent">
  <h4 id="dash">Landlord Profile</h4>
  <p id="more-info">This tab shows the profile of your assigned landlord</p>
  {% if landlord %}
  <div class="landlord">
    <div class="landlord-profile-img">
      <div class="img-box">
        <img src="{{ url_for('static', filename='Images/man.png') }}" alt="profile image">
      </div>
      <div class="chat-btn">
        <a href="{{ url_for('tenant.send_message', landlord_id=landlord.id) }}">
          <button id="chat">Chat</button>
        </a>
      </div>
    </div>
    <div class="landlord-info">
      <button class="accordion actives">
        <span>Landlord Information</span>
      </button>
      <div class="panel first">
        <div class="personal-info">
          <table>
            <tr>
              <th>First Name</th>
              <td>{{ landlord.first_name }}</td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td>{{ landlord.last_name }}</td>
            </tr>
            <tr>
              <th>Email Address</th>
              <td>{{ landlord.email }}</td>
            </tr>
            <tr>
              <th>Phone Number</th>
              <td>0{{ landlord.phone }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <h4 class="else">No Landlord Assigned</h4>
  {% endif %}
</div>
<div id="unit" class="tabcontent">
  <h4 id="dash">My Unit</h4>
  <p id="more-info">This tab show the details of your assigned unit</p>
  {% if current_user.unit %}
  <div class="my-unit">
    <div class="unit-img">
      <img src="{{ url_for('static', filename='Images/unit.png') }}" alt="unit-image">
    </div>
    <div class="unit-details">
      <div class="unit-first">
        <div class="accordion">
          <span>Unit Information</span>
        </div>
        <div class="panel first">
          <div class="unit-infos">
            <table>
              <tr>
                <th>Unit ID</th>
                <td>{{ unit.unique_id }}</td>
              </tr>
              <tr>
                <th>Unit Name</th>
                <td>{{ unit.name }}</td>
              </tr>
              <tr>
                <th>Unit Floor</th>
                <td>{{ unit.unit_floor }}{% if unit.unit_floor % 10 == 1 %}<sup>st</sup>
                  Floor{%elif unit.unit_floor % 10 == 2 %}<sup>nd</sup>
                  Floor{% elif unit.unit_floor% 10 == 3 %}<sup>rd</sup> Floor{% else %}<sup>th</sup> Floor {%endif %}
                </td>
              </tr>
              <tr>
                <th>Unit Type</th>
                <td>{{ unit.unit_type }}</td>
              </tr>
              <tr>
                <th>Unit Rent</th>
                <td>{{ "Ksh {:,}".format(unit.rent_amount) }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="unit-second">
        <div class="other-info accordion">
          <span>Unit Metrics</span>
        </div>
        <div class="panel">
          <div class="unit-metrics">
            {% for unit_metrics in unit.unit_metrics %}
            <p>
              <img loading="lazy" src="{{ url_for('static', filename='Images/area.png') }}" alt="square meters">
              Floor Area
              <span>{{ unit_metrics.living_space }} SQM</span>
            </p>
            <p>
              <img loading="lazy" src="{{ url_for('static', filename='Images/balcony.png') }}" alt="square meters">
              Balcony Area
              <span>{{ unit_metrics.balcony_space }} SQM</span>
            </p>
            {% if properties.properties.name == "Apartment" %}
            <p>
              <img loading="lazy" src="{{ url_for('static', filename='Images/beds.png') }}" alt="square meters">
              No of Bedrooms
              <span>{{ unit_metrics.bedrooms }}</span>
            </p>
            <p>
              <img loading="lazy" src="{{ url_for('static', filename='Images/bathtub.png') }}" alt="square meters">
              No of Bathrooms
              <span>{{ unit_metrics.bathrooms }}</span>
            </p>
            {% endif %}
            <p>
              <img loading="lazy" src="{{ url_for('static', filename='Images/air-conditioner.png') }}"
                alt="square meters">
              Air Conditioning
              <span>{{ unit.air_conditioning }}</span>
            </p>
            <p>
              <img loading="lazy" src="{{ url_for('static', filename='Images/sofa.png') }}" alt="square meters">
              Furniture
              <span>{{ unit.amenities }}</span>
            </p>
            <p>
              <img loading="lazy" src="{{ url_for('static', filename='Images/sunbed.png') }}" alt="square meters">
              Amenities
              <span>{{ unit.amenities }}</span>
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <h4 class="else">No Unit Assigned</h4>
  {% endif %}
</div>
<div id="complaints" class="tabcontent">
  <div class="complaint-header">
    <h4 id="dash">Complaints</h4>
    <a href="{{ url_for('tenant.send_complaint') }}">
      <button>Send Complaint</button>
    </a>
  </div>
  <p id="more-info">All your complaits will be listed here</p>
  <div class="complaints">
    {% if current_user.complaint %}
    {% for complaint in current_user.complaint|sort(attribute='date', reverse=True) %}
    <div class="my-complaints-info">
      <div class="complaint-header">
        <h4>Title: {{ complaint.title }}</h4>
        <span id="date">{{ complaint.date.strftime('%d/%m/%Y at %I:%M %p') }}</span>
      </div>
      <p id="category">Category: {{ complaint.category }}</p>
      <p>{{ complaint.message }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p class="else">Your complaints will be listed here</p>
    {% endif %}
  </div>
</div>
<div id="payments" class="tabcontent">
  <h4 id="dash">Payments</h4>
  <p id="more-info">Manage your rent payments from here</p>
  {% if unit %}
  <div class="payments">
    <div class="payment-info">
      <div class="rent-to-pay">
        <div class="rent-amount">
          <img src="{{ url_for('static', filename='Images/cashless-payment.png') }}" alt="">
          <div class="rent-info-box">
            <p>Monthly Rent</p>
            <h4>{{ "Ksh {:,}".format(unit.rent_amount) }}</h4>
          </div>
        </div>
        <div class="payment-box">
          <h4>Choose your payment method</h4>
          <div class="payment-methods">
            {% if active_invoice %}
            <a href="{{ url_for('payment.card_payment') }}">
              <div class="payment bank">
                <div class="payment-info-box">
                  <img src="{{ url_for('static', filename='Images/credit-card.png') }}" alt="cedit card">
                  <h4>Pay with Card</h4>
                </div>
                <i class="fa fa-angle-right" style="font-size:22px"></i>
              </div>
            </a>
            <a href="{{ url_for('payment.stk_push', invoice_id=active_invoice.unique_id) }}">
              <div class="payment mpesa">
                <div class="payment-info-box">
                  <img src="{{ url_for('static', filename='Images/mpesa.png') }}" alt="Mpesa">
                  <h4>Pay with Mpesa</h4>
                </div>
                <i class="fa fa-angle-right" style="font-size:22px"></i>
              </div>
            </a>
            {% elif not active_invoice %}
            <div class="payment disabled">
              <div class="payment-info-box">
                <img src="{{ url_for('static', filename='Images/credit-card.png') }}" alt="cedit card">
                <h4>Next charge on
                  {% if transactions %}
                  {{ current_user.transaction[-1].next_date.strftime('%d/%m/%Y') }}
                  {% endif %}
                </h4>
              </div>
              <i class="fa fa-angle-right" style="font-size:22px"></i>
            </div>
            <div class="payment disabled">
              <div class="payment-info-box">
                <img src="{{ url_for('static', filename='Images/mpesa.png') }}" alt="Mpesa">
                <h4>Next charge on
                  {% if transactions %}
                  {{ current_user.transaction[-1].next_date.strftime('%d/%m/%Y') }}
                  {% endif %}
                </h4>
              </div>
              <i class="fa fa-angle-right" style="font-size:22px"></i>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="transactions">
      <h4>Recent Transactions</h4>
      <div class="transaction-details">
        {% if transactions %}
        {% for transaction in transactions|sort(attribute='time', reverse=true) %}
        <div class="transaction-info">
          <div class="transaction-header">
            <h4>#{{ transaction.unique_id }}</h4>
            <span>{{ transaction.date.strftime('%d/%m/%Y') }}
              {{ transaction.time.strftime('at %I:%M %p') }}</span>
          </div>
          <div class="transaction-body">
            <h4>Amount:</h4>
            <p>{{ "Ksh {:,}".format(unit.rent_amount) }}</p>
          </div>
          <div class="transaction-stat">
            <p>
              {% if transaction.origin == "Bank" %}
              This payment was transacted via card
              {% elif transaction.origin == "Mpesa" %}
              This payment was transacted via Mpesa
              {% endif %}
            </p>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="else">Your recent transactions will appear here</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% else %}
  <h4 class="else">No Unit Assigned</h4>
  {% endif %}
</div>
<div id="extras" class="tabcontent">
  <h4 id="dash">Extras</h4>
  <div class="extras">
    <h4>Welcome to <strong>Extras</strong></h4>
    <p>This is all about making work easier by eliminating unecessary tasks that can be simplified. We offer
      various services to support the property residents in managing their units. Choose which service you need
      from below.</p>
    <div class="extra-services">
      <div class="extra-services-items">
        <div class="premium">
          <p>Premium</p>
        </div>
        <img src="{{ url_for('static', filename='Images/interior-plan.png') }}" alt="interior design">
        <h4>Interior Design</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur tempora deleniti minus quod aut
          repellendus sunt, necessitatibus rerum eligendi ratione.</p>
      </div>
      <div class="extra-services-items">
        <div class="premium">
          <p>Premium</p>
        </div>
        <img src="{{ url_for('static', filename='Images/carpenter.png') }}" alt="capentry">
        <h4>Capentry</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur tempora deleniti minus quod aut
          repellendus sunt, necessitatibus rerum eligendi ratione.</p>
      </div>
      <div class="extra-services-items">
        <div class="premium">
          <p>Premium</p>
        </div>
        <img src="{{ url_for('static', filename='Images/brickwall.png') }}" alt="brick wall">
        <h4>Mansory</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur tempora deleniti minus quod aut
          repellendus sunt, necessitatibus rerum eligendi ratione.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/new_tenant_dashboard.js') }}"></script>
{% endblock %}
