@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #01011d;
  --other-dark-blue: #001431;
  --page-header-bgColor: #242e42;
  --page-header-bgColor-hover: #1d2636;
  --page-content-bgColor: #04101f;
  --page-content-txtColor: #171616;
  --white: #fff;
  --black: #212121;
  --blue: #00b9eb;
  --light-blue: #00b8eb52;
  --grey: #f5f5f5;
  --dark-grey: #666666;
  --red: #ec1848;
  --green: green;
  --radius: 0.3rem;
  --radius-l: 10rem;
  --shadow: 0 0 10px -2px #00000013;
  --font-1: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 50rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  background-color: var(--other-dark-blue);
}

h1 {
  font-family: var(--font-1);
  font-weight: 900;
}

h2,
h3,
h4,
th {
  font-weight: 700;
  font-family: var(--font-1);
}

p,
span,
b,
input,
select,
textarea,
label,
a,
ul,
li,
td {
  font-weight: 400;
  font-family: var(--font-1);
}

a {
  font-weight: 500;
  text-decoration: none;
}

.input {
  display: grid;
  gap: 0.5rem;
}

input,
select {
  padding: 1em;
  border: none;
  background-color: var(--page-header-bgColor);
  border-radius: var(--radius);
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
}

::placeholder {
  color: var(--dark-grey);
}

button {
  border: none;
  padding: 0.5em 0.8em;
  border-radius: var(--radius);
  background-color: var(--blue);
  font-family: var(--font-1);
  cursor: pointer;
}

.side-nav {
  position: relative;
  min-width: 14rem;
  max-width: 14rem;
  height: 100svh;
  background-color: var(--dark-blue);
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.profile img {
  max-height: 2.5rem;
}

.profile-info p {
  color: var(--grey);
}

.profile-info span {
  color: var(--dark-grey);
  font-size: 1.4ch;
}

.navigation {
  margin-top: 2.7rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  flex-grow: 1;
}

.main-navigation,
.secondary-navigation,
.logout {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.main-navigation button,
.logout button,
.secondary-navigation button {
  background-color: transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.dropdown-btn i {
  position: absolute;
  right: 2rem;
  font-size: 2ch;
}

.main-navigation button img,
.logout button img,
.secondary-navigation img {
  max-height: 1.5rem;
}

.main-navigation button:hover,
.secondary-navigation button:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

.tablinks.active {
  background-color: var(--blue);
  color: var(--white);
}

.tablinks.active:hover {
  background-color: var(--blue);
  color: var(--white);
}

.secondary-navigation {
  flex-grow: 1;
}

.logout {
  justify-content: flex-end;
}

.logout a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--red);
}

.drop-down-container {
  display: none;
  padding-left: 10px;
  transition: 0.5s;
}

.drop-down-container a {
  text-decoration: none;
  display: block;
  color: var(--red);
  padding: 0.5rem;
  border-radius: var(--radius);
  margin-left: 2rem;
  cursor: pointer;
}

.content-area {
  min-height: 100svh;
  max-height: 100svh;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 1rem;
  background-color: var(--other-dark-blue);
}

.notification-area {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.2rem;
  background-color: var(--other-dark-blue);
}

.burger {
  display: grid;
  gap: 0.25rem;
  cursor: pointer;
  display: none;
}

.burger div {
  height: 0.1rem;
  width: 1.3rem;
  border-radius: var(--radius);
  background-color: var(--grey);
}

.not--img {
  max-height: 1.5rem;
  cursor: pointer;
}

.tabcontent {
  margin-top: 1rem;
  display: none;
}

.tabcontent.active {
  display: block;
}

.tab-header,
.extra-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dash {
  font-size: 1.4rem;
}

#more-info {
  color: var(--dark-grey);
}

.dash-information {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

#tenant-heading {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 1.8rem;
  background-color: var(--other-dark-blue);
  z-index: 1;
  padding-bottom: 0.2rem;
}

#tenant_search,
#tenant-search {
  text-transform: capitalize;
  padding-block: 0.5em;
}

.all-tenants,
.all-units {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 1rem;
}

.all-units {
  grid-template-columns: repeat(4, 1fr);
}

#just-info {
  color: var(--dark-grey);
}

.tenant-card,
.unit-card {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  transition: transform 200ms ease-in;
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: var(--page-header-bgColor-hover);
  color: var(--grey);
}

.tenant-unit-assigned,
.tenant-unit-unassigned,
.occupation {
  position: absolute;
  padding: 0.2rem 0.4rem;
  top: 0;
  right: 0;
  color: var(--white);
  border-bottom-left-radius: 0.3rem;
  font-size: 1.5ch;
}

.tenant-unit-assigned,
.unit-occupied {
  background-color: var(--green);
}

.tenant-unit-unassigned {
  background-color: var(--red);
}

.unit-property-assigned {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
}

.unit-reserved {
  background-color: orange;
}

.unit-vacant {
  background-color: var(--red);
}

.tenant-card img,
.unit-card img {
  max-height: 3rem;
}

.tenant-details,
.unit-details {
  display: grid;
  gap: 0.5rem;
}

.tenant-details a {
  color: var(--blue);
}

.else {
  color: var(--red);
  text-align: center;
}

.extras {
  margin-top: 1rem;
}

.extras > p {
  font-size: 2ch;
  color: grey;
}

.extras h4 {
  font-size: 1.8ch;
}

.extra-services {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.extra-services a {
  text-decoration: none;
  color: whitesmoke;
}

.extra-services-items {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  position: relative;
  background-color: var(--page-header-bgColor);
}

.extra-services-info {
  display: grid;
  gap: 0.5rem;
  color: var(--page-header-txtColor);
}

.extra-services-info h4 {
  font-size: 2.5ch;
  color: white;
}

.extra-services-items img {
  height: 3rem;
}

.active-extra {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-height: 39rem;
  overflow: auto;
  padding-right: 0.5rem;
}

.active-extra-details {
  background-color: var(--dark-blue);
  padding: 1.2rem 1rem;
  border-radius: 10px;
  min-width: 25.5rem;
  position: relative;
  overflow: hidden;
  height: max-content;
}

#unit-deployed {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 5px;
  background-color: #00b9eb;
  font-size: 0.7rem;
}

.active-extra-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 1.2rem;
}

.timeline {
  min-height: 3.5rem;
  max-width: 5px;
  border-radius: 10rem;
  background-image: linear-gradient(5deg, greenyellow, aqua);
  position: relative;
}

.timeline p {
  position: absolute;
  min-width: max-content;
  left: 0.9rem;
  font-size: 0.9rem;
  color: grey;
}

.timeline p:last-child {
  bottom: 0;
}

.timeline-info {
  margin-top: 1rem;
  color: whitesmoke;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.accordion {
  border: none;
  min-width: 100%;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  background-color: var(--page-header-bgColor-hover);
}

.panel {
  background-color: var(--other-dark-blue);
  border-radius: 0 0 5px 5px;
  padding: 0;
  max-height: 0;
  max-width: 62vw;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.9rem;
  padding: 8px;
}

.complete {
  background-color: rgb(6, 187, 6);
}

.delete {
  background-color: var(--red);
}

.my-profile {
  margin-top: 1rem;
  overflow: auto;
  border-radius: 0.3rem;
  background-color: var(--dark-blue);
  padding: 2rem;
}

.personal-info-details table {
  width: 100%;
}

.personal-info-details table th,
td {
  padding: 0.8rem;
}

.personal-info-details table th {
  color: var(--dark-grey);
  text-align: left;
}

.extra {
  margin-top: 1rem;
  text-align: center;
}

.extra a {
  text-decoration: none;
  color: var(--red);
}

.tops {
  position: sticky;
  top: 1rem;
  z-index: 10;
  display: grid;
  gap: 0.2rem;
  /* animation: fade-away 1s 6s forwards; */
}

@keyframes fade-away {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
}

#message {
  flex-grow: 1;
  text-align: center;
}

#close,
.close {
  color: var(--red);
  cursor: pointer;
  font-size: 1.5rem;
}

.close {
  display: none;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #a9dcf6;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
