@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #01011d;
  --other-dark-blue: #001431;
  --page-header-bgColor: #242e42;
  --page-header-bgColor-hover: #1d2636;
  --page-content-bgColor: #04101f;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --white: #fff;
  --black: #212121;
  --blue: #00b9eb;
  --light-blue: #00b8eb52;
  --grey: #f5f5f5;
  --dark-grey: #666666;
  --red: #ec1848;
  --radius: 0.3rem;
  --shadow: 0 0 10px -2px #00000013;
  --font-1: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 50rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  background-color: var(--other-dark-blue);
  font-family: var(--font-1);
}

h1 {
  font-weight: 900;
}

h2,
h3,
h4 {
  font-weight: 700;
}

p,
span {
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0.5em 0.8em;
  border-radius: var(--radius);
  background-color: var(--blue);
  font-family: var(--font-1);
  cursor: pointer;
}

.side-nav {
  position: relative;
  min-width: 14rem;
  max-width: 14rem;
  height: 100svh;
  background-color: var(--dark-blue);
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.profile img {
  max-height: 2.5rem;
}

.profile-info p {
  color: var(--grey);
}

.profile-info span {
  color: var(--dark-grey);
  font-size: 1.4ch;
}

.navigation {
  margin-top: 2.7rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  flex-grow: 1;
}

.main-navigation,
.secondary-navigation,
.logout {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.main-navigation button,
.logout button,
.secondary-navigation button {
  background-color: transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.dropdown-btn i {
  position: absolute;
  right: 2rem;
  font-size: 2ch;
}

.main-navigation button img,
.logout button img,
.secondary-navigation img {
  max-height: 1.5rem;
}

.main-navigation button:hover,
.secondary-navigation button:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

.tablinks.active {
  background-color: var(--blue);
  color: var(--white);
}

.tablinks.active,
.tablinks.active:hover {
  background-color: var(--blue);
  color: var(--white);
}

#nav-title {
  color: var(--switch-moonColor);
}

.secondary-navigation {
  flex-grow: 1;
}

.logout {
  justify-content: flex-end;
}

.logout a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--red);
}

#no {
  color: var(--red);
  font-size: 15px;
  margin-left: 40px;
}

.drop-down-container {
  display: none;
  padding-left: 10px;
  transition: 0.5s;
}

.drop-down-container a {
  text-decoration: none;
  display: block;
  color: var(--red);
  font-size: 15px;
  padding: 10px 5px;
  margin-left: 30px;
  cursor: pointer;
}

.comp {
  position: relative;
}

.complaint-count {
  background-color: var(--red);
  position: absolute;
  inset: 0 auto auto 2rem;
  min-width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complaint-count span {
  font-size: 0.8rem;
}

.content-area {
  background-color: var(--other-dark-blue);
  min-height: 100svh;
  max-height: 100svh;
  overflow-y: auto;
  width: 100%;
  padding: 0 1rem;
}

.notification-area {
  position: sticky;
  padding-block: 0.4rem;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  background-color: var(--other-dark-blue);
}

.notifications {
  position: absolute;
  inset: 2rem 15px auto auto;
  height: max-content;
  max-height: 47rem;
  overflow: auto;
  min-width: 22rem;
  max-width: 25rem;
  border-radius: 3px;
  background-color: var(--page-header-bgColor-hover);
  box-shadow: 0 0 5rem -2rem black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}

.notification-info {
  padding: 10px 15px;
  background-color: var(--page-header-bgColor);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
}

.notifications hr {
  background-color: grey;
  border: 0.1px solid grey;
}

.notification-info p {
  font-weight: bold;
}

.notification-info span {
  color: var(--red);
}

#info {
  font-size: 14px;
}

.not-actions {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  margin-top: 10px;
  display: none;
}

.show-not-actions {
  display: grid;
}

.not-actions button {
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.not-actions button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.btn1 {
  background-color: rgb(6, 187, 6);
}

.btn2 {
  background-color: red;
}

.show-notifications {
  display: flex;
}

#else-not {
  text-align: center;
  padding: 10px;
}

.not {
  cursor: pointer;
}

.burger {
  position: absolute;
  left: 0.2rem;
  top: 5px;
  cursor: pointer;
  display: none;
}

.burger > div {
  height: 2.2px;
  width: 25px;
  margin: 5px 0;
  background-color: white;
}

.notification-dot {
  position: absolute;
  inset: 0 1px auto auto;
  height: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgb(9, 197, 9);
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.not--img {
  height: 1.5rem;
}

.tabcontent {
  margin-top: 1rem;
  display: none;
}

.tabcontent.active {
  display: block;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dash {
  font-size: 1.4rem;
  position: relative;
}

.detailed-rent {
  position: absolute;
  right: 1rem;
  max-height: 1.2rem;
  cursor: pointer;
}

#more-info {
  color: grey;
  margin-top: 10px;
}

#add-property {
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  background-color: var(--blue);
  cursor: pointer;
  font-size: 1.4ch;
  font-family: var(--font-1);
}

.dash-information {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

#tenant-heading {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

#tenant_search,
#tenant-search {
  padding: 0.8em;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--page-header-bgColor-hover);
  text-transform: capitalize;
  font-family: var(--font-1);
  outline: 2px solid white;
}

#tenant_search::placeholder,
#tenant-search::placeholder {
  color: var(--white);
}

.all-tenants,
.all-units {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 1rem;
}

.all-units {
  grid-template-columns: repeat(4, 1fr);
}

#just-info {
  color: grey;
}

.tenant-card,
.unit-card {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  transition: transform 200ms ease-in;
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: var(--page-header-bgColor-hover);
}

.tenant-unit-assigned,
.tenant-unit-unassigned,
.occupation {
  position: absolute;
  padding: 0.2rem 0.4rem;
  top: 0;
  right: 0;
  font-size: 1.3ch;
  color: white;
  border-bottom-left-radius: 0.3rem;
}

.tenant-unit-assigned {
  background-color: rgb(6, 187, 6);
}

.tenant-unit-unassigned {
  background-color: var(--red);
}

.unit-property-assigned {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
}

.tenant-unit-assigned a,
.unit-property-assigned a {
  text-decoration: none;
  color: white;
}

.unit-occupied {
  background-color: rgb(6, 187, 6);
}

.unit-reserved {
  background-color: orange;
}

.unit-vacant {
  background-color: var(--red);
}

.tenant-card img,
.unit-card img {
  height: 4rem;
}

.tenant-details,
.unit-details {
  display: grid;
  gap: 0.5rem;
}
.tenant-details p,
.unit-details p {
  font-size: 1.6ch;
}

.tenant-details hr {
  outline: 1px solid var(--page-header-headingColor);
  opacity: 0.3;
  border: none;
}

.tenant-details a {
  color: var(--blue);
}

.rent {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  margin-top: 1rem;
}

#rent #dash {
  display: flex;
  gap: 15px;
  align-items: center;
}

.transactions-details,
.transaction-details {
  border-radius: 0.3rem;
  display: grid;
  gap: 1rem;
}

.transaction-details {
  border-radius: 0;
}

.transaction-info {
  padding: 1rem;
  background-color: var(--page-header-bgColor-hover);
  border-radius: 0.3rem;
  position: relative;
}

#transaction-header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: space-between;
}

.transaction-info #date {
  color: var(--page-header-headingColor);
}

.transaction-info > p {
  color: whitesmoke;
}

.transaction-info p > span {
  color: var(--switch-bgLightModeColor);
}

.transaction-info hr {
  border: none;
  outline: 0.1px solid grey;
  background-color: grey;
  opacity: 0.3;
  margin: 0.5rem 0;
}

.watermark {
  color: var(--page-header-headingColor);
}

.else {
  color: var(--red);
  text-align: center;
}

#extra > #dash {
  position: relative;
}

#extra > #dash > button {
  position: absolute;
  left: 5rem;
  max-width: max-content;
}

.extras {
  margin-top: 1rem;
}

.extras > p {
  font-size: 2ch;
  color: grey;
}

.extras h4 {
  font-size: 1.8ch;
}

.extra-services {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.extra-services a {
  text-decoration: none;
  color: whitesmoke;
}

.extra-services-items {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  position: relative;
  background-color: var(--page-header-bgColor);
}

.extra-services-info {
  display: grid;
  gap: 0.5rem;
  color: var(--page-header-txtColor);
}

.extra-services-info h4 {
  font-size: 2.5ch;
  color: white;
}

.extra-services-items img {
  height: 3rem;
}

.active-extra {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-height: 39rem;
  overflow: auto;
  padding-right: 0.5rem;
}

.active-extra-details {
  background-color: var(--dark-blue);
  padding: 1.2rem 1rem;
  border-radius: 10px;
  min-width: 25.5rem;
  position: relative;
  overflow: hidden;
  height: max-content;
}

#unit-deployed {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 5px;
  background-color: #00b9eb;
  font-size: 0.7rem;
}

.active-extra-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 1.2rem;
}

.timeline {
  min-height: 3.5rem;
  max-width: 5px;
  border-radius: 10rem;
  background-image: linear-gradient(5deg, greenyellow, aqua);
  position: relative;
}

.timeline p {
  position: absolute;
  min-width: max-content;
  left: 0.9rem;
  font-size: 0.9rem;
  color: grey;
}

.timeline p:last-child {
  bottom: 0;
}

.timeline-info {
  margin-top: 1rem;
  color: whitesmoke;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.accordion {
  border: none;
  min-width: 100%;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  background-color: var(--page-header-bgColor-hover);
}

.panel {
  background-color: var(--other-dark-blue);
  border-radius: 0 0 5px 5px;
  padding: 0;
  max-height: 0;
  max-width: 62vw;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.9rem;
  padding: 8px;
}

.complete {
  background-color: rgb(6, 187, 6);
}

.delete {
  background-color: var(--red);
}

.my-profile {
  margin-top: 1rem;
  overflow: auto;
  border-radius: 0.3rem;
  background-color: var(--dark-blue);
  padding: 2rem;
}

.personal-info-details table {
  width: 100%;
}

.personal-info-details table th,
td {
  padding: 10px;
}

.personal-info-details table th {
  color: grey;
  text-align: left;
  width: 35rem;
}

.extra {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}

.main a {
  text-decoration: none;
  color: var(--red);
}

.property-registration {
  background-color: var(--dark-blue);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.property-registration form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.property-registration form::-webkit-scrollbar {
  display: none;
}

.property-registration .btn {
  background-color: green;
  color: white;
  padding: 0.8em;
  border-radius: 0.3rem;
  font-size: 2ch;
  grid-column: 1/3;
}

.tops {
  position: sticky;
  top: 1rem;
  z-index: 10;
  display: grid;
  gap: 0.2rem;
  /* animation: fade-away 1s 6s forwards; */
}

@keyframes fade-away {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.alert {
  position: relative;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #a9dcf6;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

@media (prefers-color-scheme: light) {
  .content-area,
  body,
  .main-navigation button,
  .main-navigation button:focus,
  .secondary-navigation button,
  .secondary-navigation button:focus,
  .logout button,
  .prop-owned-info,
  .property-registration input,
  .property-registration select,
  .notification-area {
    background-color: whitesmoke;
  }

  .main-navigation button:hover,
  .main-navigation button:focus,
  .secondary-navigation button:hover,
  .secondary-navigation button:focus {
    background-color: bisque;
    color: black;
  }

  .side-nav,
  .tenant-search input,
  .transaction-info,
  .properties-owned,
  .personal-info-details,
  .property-registration,
  .notification-info,
  .active-extra,
  .invoice,
  .stat,
  .rent-stats-box,
  .invoice-box {
    background-color: white;
  }

  #nav-title {
    color: black;
  }

  .burger > div {
    background-color: black;
  }

  .income,
  .expenses,
  .profit {
    background-color: rgba(241, 241, 241, 0.9);
  }

  .tenant-search input {
    outline: 2px solid black;
  }

  .tenant-details a,
  .unit-property-assigned h4 {
    color: var(--blue);
  }

  .tenant-search input::placeholder,
  .property-registration input::placeholder {
    color: grey;
  }

  .transaction-info,
  .rents-info div {
    box-shadow: 0 0 10px -8px black;
  }

  .notifications,
  .tenant-card,
  .unit-card,
  .rent-stat,
  .extra-services-items {
    background-color: bisque;
    color: black;
  }

  .extra-services-info h4,
  .extra-services-info p {
    color: black;
  }

  .invoice-info {
    background-color: aliceblue;
  }

  .side {
    background-color: black;
  }
}
