.current_property {
  min-width: 100%;
}

#current-property a {
  color: var(--grey);
}

.maintenance-box {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: var(--radius);
}

.maintenance-form-box form {
  display: grid;
  gap: 1rem;
}

.maintenance-form-box form .input {
  background-color: var(--dark-blue);
  border-radius: var(--radius);
}

form button {
  margin-top: 1rem;
}
