.current_property {
  min-width: 100%;
}

#current-property a {
  color: var(--grey);
}

.maintenance-box {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.units-box,
.electrician-box {
  padding: 1rem;
  background-color: var(--dark-blue);
  border-radius: var(--radius);
  display: grid;
  gap: 0.6rem;
}

#unit-form select {
  background-color: var(--page-header-bgColor);
  min-width: 100%;
}
