@media (prefers-color-scheme: light) {
  .content-area,
  body,
  .main-navigation button:hover,
  .main-navigation button:focus,
  .secondary-navigation button:hover,
  .secondary-navigation button:focus,
  .prop-owned-info,
  .property-registration input,
  select,
  .notification-area {
    background-color: whitesmoke;
  }

  .side-nav,
  .revenue,
  .prop,
  .no-prop,
  .recent-activity,
  .property-insights,
  .rent-status,
  .tenant-search input,
  .transaction-info,
  .properties-owned,
  .personal-info-details,
  .property-registration,
  .notification-info,
  .active-extra {
    background-color: white;
  }

  .burger > div {
    background-color: black;
  }

  .income,
  .expenses,
  .profit {
    background-color: rgba(241, 241, 241, 0.9);
  }

  .tenant-search input {
    outline: 2px solid black;
  }

  .tenant-details a,
  .unit-property-assigned h4 {
    color: var(--blue);
  }

  .tenant-search input::placeholder,
  .property-registration input::placeholder {
    color: grey;
  }

  .transaction-info,
  .rents-info div {
    box-shadow: 0 0 10px -8px black;
  }

  .notifications,
  .tenant-card,
  .unit-card {
    background-color: bisque;
  }

  .side {
    background-color: black;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    position: fixed;
    z-index: 2;
    transform: translateX(0);
  }

  .notifications {
    min-width: 16rem;
    max-width: 18rem;
  }

  .notification-area {
    position: fixed;
    width: 95%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .prop-summary {
    grid-template-columns: repeat(2, auto);
    gap: 20px 1rem;
  }

  .property-registration > form {
    grid-template-columns: 1fr;
  }

  .property-registration .btn {
    grid-column: 1/2;
  }

  .prop-summary,
  .property-insights,
  .rent-status,
  .recent-activity {
    grid-column: 1/2;
  }

  .income,
  .expenses,
  .profit {
    width: max-content;
    padding: 5px;
  }

  .income h4,
  .expenses h4,
  .profit h4 {
    font-size: 0.5rem;
  }

  .income p,
  .expenses p,
  .profit p {
    font-size: 0.5rem;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 1rem;
  }

  #dash button {
    right: 0;
  }

  #date {
    max-width: 5rem;
    max-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prop {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
  }

  .prop span {
    font-size: 2rem;
  }

  .prop p {
    font-size: 0.8rem;
    left: 1rem;
  }

  .tenant-search {
    width: 8rem;
    right: 2rem;
  }

  .tenant-search input {
    width: inherit;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .rents-info {
    grid-template-columns: auto;
    row-gap: 10px;
  }

  .rents-info div span {
    font-size: 40px;
  }

  .extra-services {
    grid-template-columns: auto;
  }

  #tenants_paid,
  #unit_rent {
    font-size: 16px;
  }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .notification-area {
    position: fixed;
    width: 95%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .prop-summary {
    grid-template-columns: repeat(2, auto);
    gap: 20px 1rem;
  }

  .property-registration > form {
    grid-template-columns: 1fr;
  }

  .property-registration .btn {
    grid-column: 1/2;
  }

  .prop-summary,
  .property-insights,
  .rent-status,
  .recent-activity {
    grid-column: 1/2;
  }

  .income,
  .expenses,
  .profit {
    width: max-content;
  }

  .income h4,
  .expenses h4,
  .profit h4 {
    font-size: 0.5rem;
  }

  .income p,
  .expenses p,
  .profit p {
    font-size: 0.5rem;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 0.6rem;
  }

  #dash button {
    right: 0;
  }

  #date {
    max-width: 5rem;
    max-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prop {
    width: 8rem;
    height: 6rem;
    padding: 0.5rem;
  }

  .prop span {
    font-size: 2rem;
  }

  .prop p {
    font-size: 1rem;
    left: 1.1rem;
  }

  .tenant-search {
    width: 8rem;
    right: 2rem;
  }

  .tenant-search input {
    width: inherit;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .rents-info {
    grid-template-columns: auto;
    row-gap: 10px;
  }

  .rents-info div span {
    font-size: 40px;
  }

  .extra-services {
    grid-template-columns: auto;
  }

  #tenants_paid,
  #unit_rent {
    font-size: 16px;
  }
}

@media screen and (min-width: 450px) and (max-width: 500px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .burger {
    display: block;
  }

  .property-registration > form {
    grid-template-columns: 1fr;
  }

  .property-registration .btn {
    grid-column: 1/2;
  }

  .content-area {
    padding: 0 2rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .prop-summary {
    grid-template-columns: repeat(2, auto);
    gap: 20px 3rem;
  }

  .prop-summary,
  .property-insights,
  .rent-status,
  .recent-activity {
    grid-column: 1/2;
  }

  .income,
  .expenses,
  .profit {
    width: max-content;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 0.9rem;
  }

  #dash button {
    right: 0;
  }

  .prop {
    width: 10rem;
  }

  .prop span {
    font-size: 3rem;
  }

  .prop p {
    left: 1.3rem;
  }

  .tenant-search {
    width: 8rem;
    right: 2rem;
  }

  .tenant-search input {
    width: inherit;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .rents-info {
    grid-template-columns: auto;
    row-gap: 10px;
  }

  .rents-info div span {
    font-size: 40px;
  }

  .extra-services {
    grid-template-columns: auto;
  }

  #tenants_paid,
  #unit_rent {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) and (max-width: 570px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .burger {
    display: block;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .content-area {
    padding: 0 2rem;
  }

  .property-registration form {
    grid-template-columns: 1fr;
  }

  .property-registration .btn {
    grid-column: 1/2;
  }

  .dash-information {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .prop-summary {
    grid-template-columns: repeat(2, auto);
    gap: 20px 5rem;
  }

  .prop-summary,
  .property-insights,
  .rent-status,
  .recent-activity {
    grid-column: 1/2;
  }

  .income,
  .expenses,
  .profit {
    width: max-content;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 0.9rem;
  }

  #dash button {
    right: 0;
  }

  .prop {
    width: 10rem;
  }

  .prop span {
    font-size: 3rem;
  }

  .prop p {
    left: 1.3rem;
  }

  .tenant-search {
    width: 8rem;
    right: 2rem;
  }

  .tenant-search input {
    width: inherit;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .rents-info {
    grid-template-columns: auto;
    row-gap: 10px;
  }

  .rents-info div span {
    font-size: 40px;
  }

  .extra-services {
    grid-template-columns: auto;
  }

  #tenants_paid,
  #unit_rent {
    font-size: 16px;
  }
}

@media screen and (min-width: 570px) and (max-width: 650px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .prop-summary {
    grid-template-columns: repeat(2, auto);
    gap: 20px 5rem;
  }

  .prop-summary,
  .property-insights,
  .rent-status,
  .recent-activity {
    grid-column: 1/2;
  }

  .income,
  .expenses,
  .profit {
    width: 100%;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 1.2rem;
  }

  #dash button {
    right: 0;
  }

  .prop {
    width: 10rem;
  }

  .prop span {
    font-size: 3rem;
  }

  .prop p {
    left: 1.3rem;
  }

  .tenant-search {
    width: 8rem;
    right: 2rem;
  }

  .tenant-search input {
    width: inherit;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .rents-info {
    grid-template-columns: auto;
    row-gap: 10px;
  }

  .rents-info div span {
    font-size: 40px;
  }

  .extra-services {
    grid-template-columns: auto;
  }

  #tenants_paid,
  #unit_rent {
    font-size: 16px;
  }

  .property-registration form {
    grid-template-columns: 1fr;
  }

  .property-registration .btn {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .revenue {
    width: 100%;
  }

  .prop-summary {
    grid-template-columns: repeat(3, auto);
    gap: 20px 2rem;
  }

  .prop-summary,
  .property-insights,
  .rent-status,
  .recent-activity {
    grid-column: 1/2;
  }

  .income,
  .expenses,
  .profit {
    width: max-content;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 1.5rem;
  }

  #dash button {
    right: 0;
  }

  .prop {
    width: 10rem;
  }

  .prop span {
    font-size: 4rem;
  }

  .prop p {
    left: 1.3rem;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .rents-info div span {
    font-size: 20px;
  }

  .extra-services {
    grid-template-columns: auto;
  }

  #tenants_paid,
  #unit_rent {
    top: 0;
    left: -3rem;
    font-size: 14px;
  }

  #unit_rent {
    left: -3.5rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .dash-information {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5rem;
  }

  .revenue {
    grid-column: 1/5;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 2.2rem;
  }

  #dash button {
    right: 0;
  }

  .prop {
    width: 10rem;
  }

  .prop span {
    font-size: 3rem;
  }

  .prop p {
    left: 1.3rem;
  }

  .prop-summary,
  .property-insights {
    grid-column: 1/3;
  }

  .recent-activity,
  .rent-status {
    grid-column: 3/5;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(2, 1fr);
  }

  .rents-info div span {
    font-size: 25px;
  }

  .extra-services {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 900px) and (max-width: 1076px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .dash-information {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5rem;
  }

  .revenue {
    grid-column: 1/5;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 2.2rem;
  }

  #dash button {
    right: 0;
  }

  .prop {
    width: 10rem;
  }

  .prop span {
    font-size: 3rem;
  }

  .prop p {
    left: 1.3rem;
  }

  .prop-summary,
  .property-insights {
    grid-column: 1/3;
  }

  .recent-activity,
  .rent-status {
    grid-column: 3/5;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(2, 1fr);
  }

  .rents-info div span {
    font-size: 30px;
  }

  .extra-services {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 1076px) and (max-width: 1180px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .dash-information {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5rem;
  }

  .revenue {
    grid-column: 1/4;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 1.8rem;
  }

  .prop {
    width: 10rem;
  }

  .prop span {
    font-size: 3rem;
  }

  .prop p {
    left: 1.3rem;
  }

  .recent-activity {
    grid-column: 1/3;
  }

  .property-insights {
    grid-column: 3/5;
  }

  .rent-status {
    grid-column: 1/5;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1180px) and (max-width: 1250px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .income span,
  .expenses span,
  .profit span {
    font-size: 2rem;
  }

  .prop span {
    font-size: 4rem;
  }

  .prop p {
    left: 1.3rem;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1350px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    z-index: 2;
    transform: translateX(0);
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .prop span {
    font-size: 4.5rem;
  }

  .prop p {
    left: 1.5rem;
  }
}
