.dash-information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--white);
  border-radius: var(--radius);
}

.unit-information {
  padding: 1rem;
  grid-column: 1/4;
  border-radius: var(--radius);
}

#unit-id {
  color: var(--blue);
}

.unit-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.main-info,
.property-info,
.property-details {
  border-radius: var(--radius);
  padding: 1rem;
}

.main-info,
.property-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
}

.main-info h4,
.property-details h4 {
  font-weight: 400;
  color: var(--grey);
}

.property-info {
  text-align: center;
  outline: none;
}

.property-info img {
  max-height: 15rem;
  aspect-ratio: 1/1;
}

.else {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.landlord,
.my-unit {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: var(--radius);
}

.else {
  color: var(--red);
  text-align: center;
}

.landlord-profile-img {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: max-content;
  background-color: var(--white);
  padding: 1rem;
}

.img-box img,
.my-unit img {
  height: 10rem;
  aspect-ratio: 1/1;
}

#chat {
  width: 100%;
}

.landlord-info,
.unit-details {
  flex-grow: 1;
}

.accordion {
  padding: 1rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  cursor: pointer;
  background-color: var(--white);
}

.accordion span {
  font-weight: 700;
  color: var(--black-1);
}

.panel {
  border-bottom-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 0 1rem;
  max-height: 0;
  min-width: 100%;
  overflow: hidden;
  background-color: var(--whitesmoke);
  color: var(--black-1);
  transition: max-height 0.2s ease-out;
}

.first {
  max-height: max-content;
}

.panel table {
  margin: 1rem 0;
  width: 100%;
}

table th,
td {
  padding: 10px;
}

table th {
  text-align: left;
}

.landlord-property {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landlord-property-img img {
  height: 15rem;
}

.unit-metrics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  align-items: center;
  margin-block: 1rem;
}

.unit-metrics p {
  padding: 1rem;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.unit-metrics p > img {
  max-height: 1.5rem;
}

.unit-metrics p > span {
  color: var(--red);
}

#comp {
  margin: 1rem 0 10px;
}

.complaints {
  max-height: 40rem;
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  overflow: auto;
}

.my-complaints-info {
  border-radius: var(--radius);
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  background-color: var(--white);
}

.complaint-header,
.transaction-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

#category {
  color: var(--grey);
}

.payments {
  border-radius: var(--radius);
  display: grid;
  margin-top: 1rem;
}

.payment-info {
  background-color: var(--white);
  border-radius: var(--radius);
}

.rent-to-pay {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  width: 100%;
}

.rent-amount {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rent-amount img {
  max-height: 6rem;
}

.rent-info-box {
  display: grid;
  gap: 0.3rem;
}

.rent-info-box p {
  color: var(--grey);
}

.rent-info-box h4 {
  font-size: 4ch;
}

.payment-box {
  display: grid;
  gap: 1rem;
}

.payment-methods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  gap: 2rem;
}

.payment,
.disabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: var(--radius);
  background-color: var(--light-grey-1);
}

.payment:hover {
  background-color: var(--blue);
}

.payment:hover .payment-info-box h4 {
  color: var(--white);
}

.mpesa:hover .mpesa.fa {
  color: var(--white);
}

.payment-info-box {
  display: grid;
  gap: 0.5rem;
}

.payment-info-box h4 {
  color: var(--black-1);
  font-weight: 600;
}

.disabled {
  opacity: 0.4;
  cursor: auto;
}

.disabled:hover {
  background-color: var(--light-grey-1);
}

.disabled:hover .payment i {
  color: var(--blue);
}

.payment-info-box img {
  max-height: 2rem;
}

.transactions {
  margin-top: 1rem;
}

.transaction-details {
  margin-top: 1rem;
  display: grid;
  gap: 0.8rem;
}

.transaction-info {
  padding: 1rem;
  border-radius: var(--radius);
  display: grid;
  gap: 1rem;
  background-color: var(--white);
}

.transaction-header span,
#date {
  color: var(--grey);
}

.transaction-body {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.transaction-stat p {
  color: var(--grey);
}

@media screen and (max-width: 1000px) {
  .unit-info {
    padding-inline: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .property-info {
    grid-row: 1/1;
    grid-column: 1/-1;
    text-align: left;
  }

  .property-info img {
    max-height: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .unit-info {
    grid-template-columns: 1fr;
  }

  .unit-information {
    padding-inline: 1rem;
  }

  .main-info,
  .property-details {
    padding-inline: 0;
  }
}

@media screen and (max-width: 500px) {
  .rent-to-pay {
    padding-inline: 1rem;
  }

  .payment-methods {
    grid-template-columns: 1fr;
  }

  .rent-amount {
    justify-content: start;
  }

  .rent-amount img {
    max-height: 4rem;
  }

  .rent-amount h4 {
    font-size: 2.5ch;
  }
}
