@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

:root {
  --main-light: rgb(227, 227, 255);
  --dark-blue: rgb(1, 1, 29);
  --secondary-black: whitesmoke;
  --main-black: white;
  --other-dark-blue: rgb(0, 20, 49);
  --page-header-bgColor: #242e42;
  --page-header-bgColor-hover: #1d2636;
  --page-header-txtColor: #dde9f8;
  --page-header-headingColor: #7889a4;
  --page-header-width: 220px;
  --page-content-bgColor: #04101f;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --white: #fff;
  --green: #88d449;
  --black: #333;
  --blue: #00b9eb;
  --red: #ec1848;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  --switch-bgLightModeColor: #87cefa;
  --switch-sunColor: gold;
  --switch-moonColor: #f4f4f4;
  --switch-bgDarkModeColor: #1f1f27;
  --font: "Exo", sans-serif;
  --font-1: "Days One", sans-serif;
  --product-desc-font: "Martel", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

body {
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 14rem;
  height: 100%;
  padding: 20px 0;
  overflow-y: auto;
}

.profile {
  display: flex;
  justify-content: safe;
  align-items: center;
  max-height: 3rem;
  cursor: pointer;
  padding: 0 10px;
  position: relative;
}

.account-type {
  position: absolute;
  bottom: -5px;
  left: 4.4rem;
  font-size: 14px;
  font-weight: bold;
  color: var(--red);
}

.profile img {
  height: 3rem;
}

.profile-info {
  padding: 0 10px;
}

.profile-info p {
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  max-width: 9vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-info p::-webkit-scrollbar {
  display: none;
}

.main-navigation,
.secondary-navigation,
.logout {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
  max-height: 42.5vh;
  overflow-y: auto;
}

.main-navigation button,
.logout button,
.secondary-navigation button {
  border: none;
  padding: 15px 50px;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  background-color: transparent;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

.main-navigation button img,
.logout button img,
.secondary-navigation img {
  height: 1.8rem;
  position: absolute;
  top: 8px;
  left: 10px;
}

.main-navigation button:hover,
.main-navigation button:focus,
.secondary-navigation button:hover,
.secondary-navigation button:focus {
  color: var(--blue);
}

.logout {
  margin: 4rem 0 0;
}

.logout button {
  color: var(--red);
}

#nav-title {
  color: grey;
  font-family: "PT Sans", sans-serif;
  margin: 0 10px;
  letter-spacing: 1px;
  font-weight: bold;
}

.content-area {
  margin-left: 14rem;
  padding: 32px 20px 10px;
  min-height: 100vh;
}

.notification-area {
  padding: 10px 0;
  position: relative;
  grid-column: 1/3;
  position: fixed;
  top: 0;
  min-width: 82.8vw;
  background-color: transparent;
  z-index: 1;
}

.notification-area h4 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  color: grey;
}

.notification-area img {
  height: 1.5rem;
  position: absolute;
  top: 5px;
  right: 1rem;
  cursor: pointer;
}

#dash {
  font-size: 1.4rem;
}

.dash-information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  overflow: hidden;
  margin: 1rem 0 0;
  max-width: 84vw;
  max-height: 44.1rem;
  padding-right: 20px;
}

.unit-information {
  padding: 20px;
  border-radius: 5px;
  grid-column: 1/4;
  height: 42vh;
  max-width: 81.5vw;
  position: relative;
  overflow: hidden;
}

.unit-information h4 {
  position: absolute;
}

.unit-information #unit-id {
  color: var(--blue);
}

.unit-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  justify-content: center;
  align-items: center;
  max-height: 98%;
}

.main-info,
.property-details {
  padding: 10px 20px;
  display: grid;
  max-width: 35vw;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  align-items: center;
  row-gap: 20px;
}

.main-info {
  row-gap: 35px;
}

.main-info p,
.property-details p {
  font-size: 22px;
  position: relative;
  padding: 15px 10px;
}

.main-info span,
.property-details span {
  font-weight: bolder;
  width: 10vw;
  font-size: 16px;
  position: absolute;
  top: -10px;
  left: -5px;
  letter-spacing: 1px;
  color: rgb(0, 192, 0);
}

.property-info img {
  height: 18rem;
}

.else {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.recent-activity,
.property-insights,
.rent-transactions {
  padding: 20px;
  border-radius: 5px;
  height: max-content;
  max-height: 23rem;
}

.paid {
  min-height: 23rem;
  background-color: rgba(2, 192, 2, 0.7);
}

.not-paid {
  min-height: 23rem;
  background-color: var(--red);
}

.rent-transactions h4 {
  color: white;
}

.activity,
.insights,
.rent {
  margin: 1rem 0 0;
  padding: 5px 0;
  max-height: inherit;
  overflow: auto;
}

.activity p {
  font-size: 15px;
  margin: 0 0 10px;
  padding: 8px;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.5px;
}

.insights .card {
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
  border-radius: 2px;
  padding: 4px 2px;
  margin: 0 0 8px;
}

.insights img {
  height: 3rem;
}

.insights .card p {
  max-width: 15vw;
  overflow: auto;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.5px;
}

.rent {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 15rem;
}

.rent p {
  line-height: 1.5;
}

.rent span {
  font-weight: bold;
}

.landlord {
  margin: 1rem 0 0;
  padding: 20px 20px 20px 40px;
  display: flex;
  gap: 5rem;
  border-radius: 5px;
  justify-content: left;
}

.else {
  color: var(--red);
  text-align: center;
  margin: 1rem 0;
}

.landlord-profile-img {
  border-radius: 5px;
  height: 10rem;
  width: 10rem;
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-row: 1/4;
}

.landlord-profile-img img {
  width: 10rem;
  height: 10rem;
  max-width: inherit;
  max-height: inherit;
}

#send {
  color: white;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 3px;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  background-color: rgb(0, 192, 0);
  cursor: pointer;
}

.landlord-info {
  height: max-content;
  max-height: 41rem;
  overflow: auto;
  padding-right: 10px;
}

.accordion {
  width: 62vw;
  text-align: left;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  margin-top: 10px;
}

.panel {
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 18px;
  max-height: 0;
  width: 62vw;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.first {
  max-height: max-content;
}

.panel table {
  margin: 1rem 0;
  width: 100%;
}

table th,
td {
  padding: 10px;
}

table th {
  text-align: left;
}

.landlord-property {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landlord-property-img img {
  height: 15rem;
}

.my-unit {
  margin: 1rem 0 0;
  padding: 1.5rem 1.5rem 1rem;
  border-radius: 5px;
  max-height: 42rem;
  overflow: auto;
  display: flex;
  gap: 3rem;
}

.unit-img {
  max-width: 8rem;
  max-height: 8rem;
}

.unit-img > img {
  aspect-ratio: 1/1;
  height: 100%;
}

.unit-details {
  flex-grow: 1;
  max-height: 41.5rem;
  overflow: auto;
  padding-right: 8px;
}

.unit-first .accordion,
.unit-second .accordion {
  min-width: 100%;
  font-size: 16px;
}

.my-unit .panel {
  width: 100%;
}

.unit-infos {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.unit-infos p {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.unit-infos p > img {
  max-height: 1.5rem;
}

.unit-infos p > span {
  color: var(--red);
}

#comp {
  margin: 1rem 0 10px;
}

.complaints {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  max-height: 40.5rem;
  padding-right: 10px;
  overflow: auto;
}

.my-complaints {
  padding-right: 10px;
  border-radius: 5px;
  height: max-content;
  max-height: 39rem;
  overflow: auto;
}

.my-complaints .else {
  margin-top: 1.2rem;
}

.my-complaints-info {
  margin-bottom: 15px;
  padding: 5px;
  padding: 10px;
  border-radius: 5px;
  line-height: 25px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px -6px black;
}

.my-complaints-info #date {
  position: absolute;
  right: 5px;
}

.my-complaints-info #new {
  background-color: var(--green);
  border-radius: 2px;
  margin-left: 10px;
  padding: 2px 4px;
  font-size: 10px;
}

.my-complaints-info span {
  color: var(--blue);
  font-size: 14px;
}

.my-complaints-info p {
  font-family: "PT Sans", sans-serif;
}

.complaints form {
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
  padding: 20px;
}

.complaints label {
  margin: 1rem 0 0;
}

.complaints input,
.complaints select,
.complaints textarea {
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin: 0.5rem 0 1rem;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.complaints textarea {
  max-height: 16rem;
  min-height: 10rem;
  max-width: 36.6rem;
}

.complaints ::placeholder {
  font-size: 15px;
}

.complaints button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.complaints button:disabled {
  background-color: grey;
}

#more-info {
  margin: 10px 0 0;
  color: grey;
  font-weight: normal;
}

.payments {
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
  max-height: 43.2rem;
  overflow: auto;
  padding-right: 8px;
}

.rent-to-pay {
  border-radius: 5px;
  padding: 20px;
  margin-top: 1rem;
}

.invoice {
  margin-top: 0.8rem;
  border-radius: 0.2rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.invoice-details {
  background-color: var(--page-header-headingColor);
  border-radius: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
  color: white;
  font-weight: bold;
}

.invoice-details p > span {
  font-weight: normal;
}

.invoice-details a {
  text-decoration: none;
  background-color: rgb(0, 192, 0);
  padding: 5px 10px;
  border-radius: 30rem;
  color: white;
  font-size: 0.8rem;
}

.rent-amount {
  padding: 10px;
  height: 15rem;
  width: 87%;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.rent-amount img {
  position: absolute;
  top: -8px;
  left: -6rem;
  height: 6rem;
}

.rent-amount span {
  position: relative;
  font-size: 4rem;
}

.payment-methods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 20px;
  margin: 1rem 0 0;
}

.payment-1,
.payment-2 {
  cursor: pointer;
}

.payment-1,
.payment-2,
.disabled {
  padding: 20px;
  border-radius: 5px;
  position: relative;
  background-color: var(--main-light);
  transition: 0.2s ease-in;
  color: black;
}

.payment-2 h4 {
  position: relative;
}

#previous {
  position: absolute;
  font-size: 14px;
  inset: -3rem 0 auto auto;
  color: var(--red);
}

.disabled {
  background-color: rgb(204, 204, 204);
  opacity: 0.8;
}

.disabled > h4 {
  color: var(--red);
}

.payment-1:hover,
.payment-1:focus,
.payment-2:hover,
.payment-2:focus {
  background-color: var(--red);
  color: white;
}

.payment-methods div img {
  height: 2rem;
}

.payment-methods a {
  text-decoration: none;
  color: black;
}

.payment-methods div > i {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
}

.transaction-details {
  padding-right: 10px;
  border-radius: 5px;
  margin: 1rem 0 0;
  max-height: 30rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transaction-details .else {
  margin: 0;
}

.transaction-info {
  padding: 15px 10px;
  border-radius: 5px;
}

.transaction-info h4 {
  font-weight: normal;
  position: relative;
  width: 100%;
}

.transaction-info span {
  font-weight: bold;
  color: var(--red);
}

.transaction-info p > span {
  font-weight: bold;
  color: rgb(0, 192, 0);
}

.transaction-info #new {
  position: absolute;
  inset: 1px auto auto 12rem;
  color: white;
  font-size: 10px;
  background-color: var(--green);
  border-radius: 2px;
  padding: 2px 5px;
}

.transaction-info #date {
  position: absolute;
  font-size: 14px;
  right: 0;
  font-weight: 400;
  color: rgb(0, 192, 0);
}

.transaction-info hr {
  border: 0.1px solid grey;
  background-color: grey;
  margin: 0.5rem 0 1rem;
}

.transacts {
  line-height: 1.5;
}

.watermark {
  color: grey;
  margin-top: 1rem;
}

.extras {
  padding: 20px 20px 10px;
  margin: 1rem 0 0;
  border-radius: 5px;
}

.extras h4 {
  font-size: 25px;
  margin-bottom: 2rem;
}

.extra-services {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0 20px;
}

.extra-services-items {
  padding: 20px;
  border-radius: 5px;
  max-width: 25vw;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  position: relative;
  overflow: hidden;
  background-color: var(--main-light);
  color: black;
}

.premium {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--blue);
  padding: 5px;
  color: white;
  display: none;
}

.extra-services-items:hover {
  transform: scale(1.02);
}

.extra-services-items img {
  height: 4rem;
  margin-bottom: 1rem;
}

.extra {
  margin-top: 5rem;
  text-align: center;
}

.upload {
  margin-top: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.upload form {
  padding: 4rem 1rem;
  margin: 5rem auto 3rem;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.upload form > button {
  padding: 10px 1em;
  border: none;
  background-color: rgb(0, 192, 0);
  color: white;
  font-size: 15px;
  border-radius: 3px;
  letter-spacing: 1px;
  width: inherit;
  font-family: system-ui;
  text-transform: uppercase;
  cursor: pointer;
}

.upload form > input {
  font-family: system-ui;
  font-size: 16px;
  cursor: pointer;
}

.upload--text span {
  font-weight: bold;
}

.my-profile {
  margin: 1rem 0 0;
  border-radius: 5px;
  max-height: 44rem;
  overflow: auto;
}

.tenant-info {
  padding: 20px;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.tenant-info hr {
  margin: 0.8rem 0;
}

.profile-img {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  max-width: 17vw;
  grid-column: 1/3;
}

.profile-info span {
  color: var(--red);
}

.profile-img img {
  max-height: 5rem;
}

.personal-info-details {
  margin-top: 15px;
  border-radius: 5px;
  padding: 0 20px;
  grid-column: 1/3;
}

.personal-info-details table {
  width: 100%;
  padding: 10px 0;
}

.unit-assigned-info table,
.property-assigned-info table {
  margin-top: 15px;
  width: 100%;
}

.property-assigned-info,
.unit-assigned-info {
  padding: 20px 30px;
  border-radius: 5px;
  height: max-content;
}

.property-assigned-info span,
.unit-assigned-info span {
  color: var(--red);
}

.property-assigned-info {
  position: relative;
}

.property-assigned-info img {
  height: 8rem;
  position: absolute;
  top: 3rem;
  right: 10px;
}

.tops {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 2;
  margin-bottom: 0;
  max-height: 2rem;
  animation: fade-away 1s 4s forwards;
}

@keyframes fade-away {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.alert {
  position: relative;
  margin-bottom: 2px;
  border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  .content-area,
  .main-navigation button:hover,
  .secondary-navigation button:hover,
  .main-navigation button:focus,
  .secondary-navigation button:focus,
  body,
  .upload form,
  .panel,
  .unit-infos > p {
    background-color: var(--other-dark-blue);
    color: white;
  }

  .side-nav,
  .unit-information,
  .recent-activity,
  .property-insights,
  .landlord,
  .my-unit,
  .my-complaints-info,
  .complaints form,
  .rent-to-pay,
  .transaction-info,
  .extras,
  .upload,
  .personal-info-details,
  .property-assigned-info,
  .unit-assigned-info {
    background-color: var(--dark-blue);
    color: white;
  }

  .my-unit .accordion {
    background-color: #3b3b3b;
  }

  .my-unit td {
    color: rgb(0, 192, 0);
  }
}

@media (prefers-color-scheme: light) {
  .content-area,
  .main-navigation button:hover,
  .secondary-navigation button:hover,
  body,
  .upload form,
  form input,
  form select,
  form textarea,
  .panel,
  .unit-infos > p {
    background-color: var(--secondary-black);
  }

  .side-nav,
  .unit-information,
  .recent-activity,
  .property-insights,
  .landlord,
  .my-unit,
  .my-complaints-info,
  .complaints form,
  .rent-to-pay,
  .transaction-info,
  .extras,
  .upload,
  .personal-info-details,
  .property-assigned-info,
  .unit-assigned-info {
    background-color: var(--main-black);
  }

  .my-unit .accordion {
    background-color: #efefef;
  }
}
