.dash-information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.unit-information {
  padding: 1rem;
  grid-column: 1/4;
  border-radius: var(--radius);
}

#unit-id {
  color: var(--blue);
}

.unit-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.main-info,
.property-info,
.property-details {
  outline: 1px solid var(--other-dark-blue);
  border-radius: var(--radius);
  background-color: var(--dark-blue);
  padding: 1rem;
}

.main-info,
.property-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
}

.main-info h4,
.property-details h4 {
  font-weight: 400;
  color: var(--dark-grey);
}

.property-info {
  text-align: center;
  outline: none;
}

.property-info img {
  max-height: 15rem;
}

.else {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.landlord,
.my-unit {
  margin: 1rem 0 0;
  padding: 2rem;
  display: flex;
  gap: 4rem;
  border-radius: var(--radius);
}

.else {
  color: var(--red);
  text-align: center;
}

.landlord-profile-img {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: max-content;
}

.img-box img,
.my-unit img {
  max-height: 10rem;
  aspect-ratio: 1/1;
}

#chat {
  width: 100%;
}

.landlord-info,
.unit-details {
  max-height: 33rem;
  padding-right: 0.3rem;
  overflow: auto;
  flex-grow: 1;
}

.accordion {
  padding: 1rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  cursor: pointer;
}

.accordion span {
  font-weight: 700;
}

.panel {
  border-bottom-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 0 1rem;
  max-height: 0;
  min-width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.first {
  max-height: max-content;
}

.panel table {
  margin: 1rem 0;
  width: 100%;
}

table th,
td {
  padding: 10px;
}

table th {
  text-align: left;
}

.landlord-property {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landlord-property-img img {
  height: 15rem;
}

.unit-metrics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  margin-block: 1rem;
}

.unit-metrics p {
  padding: 1rem;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.unit-metrics p > img {
  max-height: 1.5rem;
}

.unit-metrics p > span {
  color: var(--red);
}

#comp {
  margin: 1rem 0 10px;
}

.complaints {
  max-height: 40rem;
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  overflow: auto;
}

.my-complaints-info {
  border-radius: var(--radius);
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
}

.complaint-header,
.transaction-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

#category {
  color: var(--dark-grey);
}

.payments {
  border-radius: var(--radius);
  display: grid;
  margin-top: 1rem;
}

.rent-to-pay {
  border-radius: var(--radius);
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

.rent-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rent-amount img {
  max-height: 6rem;
}

.rent-info-box {
  display: grid;
  gap: 0.3rem;
}

.rent-info-box p {
  color: var(--dark-grey);
}

.rent-info-box h4 {
  font-size: 4ch;
}

.payment-box {
  display: grid;
  gap: 1rem;
}

.payment-methods {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.payment,
.disabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: var(--radius);
  background-color: var(--page-header-bgColor);
}

.payment:hover {
  background-color: var(--blue);
  color: var(--white);
}

.payment i {
  color: var(--grey);
}

.payment-info-box {
  display: grid;
  gap: 0.5rem;
}

.payment-info-box h4 {
  color: var(--grey);
  font-weight: 400;
}

.disabled {
  opacity: 0.6;
}

.disabled:hover {
  background-color: var(--page-header-bgColor);
}

.payment-info-box img {
  max-height: 2rem;
}

.transactions {
  margin-top: 1rem;
}

.transaction-details {
  margin-top: 1rem;
  padding-right: 0.2rem;
  max-height: 30rem;
  overflow: auto;
  display: grid;
  gap: 0.8rem;
}

.transaction-info {
  padding: 1rem;
  border-radius: var(--radius);
  display: grid;
  gap: 1rem;
}

.transaction-header span,
#date {
  color: var(--dark-grey);
}

.transaction-body {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.transaction-stat p {
  color: var(--dark-grey);
}

@media (prefers-color-scheme: dark) {
  .content-area,
  .main-navigation button:hover,
  .secondary-navigation button:hover,
  .main-navigation button:focus,
  .secondary-navigation button:focus,
  body,
  .upload form,
  .panel,
  .unit-infos > p {
    background-color: var(--other-dark-blue);
    color: var(--white);
  }

  .side-nav,
  .unit-information,
  .recent-activity,
  .property-insights,
  .landlord,
  .my-unit,
  .my-complaints-info,
  .complaints form,
  .rent-to-pay,
  .transaction-info,
  .extras,
  .upload,
  .personal-info-details,
  .property-assigned-info,
  .unit-assigned-info {
    background-color: var(--dark-blue);
    color: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  .content-area,
  .main-navigation button:hover,
  .main-navigation button:focus,
  .secondary-navigation button:focus,
  .secondary-navigation button:hover,
  body,
  .upload form,
  form input,
  form select,
  form textarea,
  .panel,
  .unit-infos > p {
    background-color: var(--grey);
    color: var(--dark-blue);
  }

  .side-nav,
  .unit-information,
  .recent-activity,
  .property-insights,
  .landlord,
  .my-unit,
  .my-complaints-info,
  .complaints form,
  .rent-to-pay,
  .transaction-info,
  .extras,
  .upload,
  .personal-info-details,
  .property-assigned-info,
  .unit-assigned-info {
    background-color: var(--white);
    color: var(--dark-blue);
  }
}
