.box {
  padding: 4rem 1rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.box h4 {
  color: black;
  text-align: center;
  font-size: 45px;
  text-transform: capitalize;
}

#hr {
  min-width: 20vw;
  margin-inline: auto;
  border: 0.1px solid var(--red);
}

.box .form {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-inline: auto;
  max-width: max-content;
  position: relative;
}

#live,
#lives {
  position: absolute;
  color: var(--blue);
  font-size: 15px;
  right: -8rem;
  cursor: pointer;
  transition: 0.2s ease;
}

#lives {
  position: absolute;
  right: -10rem;
  display: none;
}

#live:hover {
  transform: scale(1.1);
}

.box form input {
  padding: 15px 10px;
  min-width: 28vw;
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  background-color: whitesmoke;
  border: none;
  outline: 2px solid black;
  letter-spacing: 1px;
}

#form2 {
  display: none;
}

#property-search {
  min-width: 30vw;
}

.box .form form input:focus {
  outline: 2px solid var(--red);
  background-color: var(--other-dark-blue);
  color: white;
}

.box .form form input::placeholder {
  font-size: 15px;
}

.box .form form button {
  padding: 0.8em 2em;
  margin-left: 20px;
  border: none;
  background-color: var(--red);
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 30rem;
  letter-spacing: 1px;
  transition: 0.2s ease;
}

.box form button:hover {
  background-color: whitesmoke;
  outline: 2px solid var(--red);
  color: black;
}

.no-units {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.no-units h4 {
  color: var(--red);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.all-units {
  padding: 0 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: whitesmoke;
  color: #212121;
  border-radius: 10px;
}

.units {
  background-color: white;
  box-shadow: 0px 1px 10px -8px black;
  max-width: 25rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

#new {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 8px;
  background-color: var(--red);
  color: white;
  font-size: 12px;
  z-index: 2;
  text-transform: capitalize;
}

.units img {
  width: 100%;
  max-height: 13rem;
  transition: 0.5s ease-in-out;
}

.units button {
  width: 100%;
  border: none;
  padding-block: 0.5rem;
  font-size: 1.8ch;
  color: white;
  background-color: var(--dark-blue);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.units:hover button {
  background-color: var(--red);
}

.units:hover img {
  transform: scale(1.05);
}

.unit-info {
  padding: 20px;
}

.unit-info h4 {
  font-weight: bolder;
  font-size: 20px;
}

.unit-info span {
  color: grey;
  margin-top: 10px;
}

.unit-info table {
  margin-top: 28px;
}

tr img {
  height: 1.2rem;
}

td {
  font-size: 14px;
  align-items: center;
  padding-left: 5px;
  padding-bottom: 5px;
}

.unit-info hr {
  margin: 20px 0;
}

.rent span {
  color: var(--red);
  font-size: 18px;
  font-weight: bold;
}

.rent p {
  font-size: 14px;
}

.navigation-btns {
  padding: 4rem;
  background-color: whitesmoke;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  color: #212121;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.page-number {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#current {
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 0.3rem;
}

.pagination a.prev-page,
.pagination a.next-page {
  background-color: #333;
  color: #fff;
}
