#dashboard button {
  width: 100%;
}

a img {
  margin: 0;
}

#property-heading {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.property-actions {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.property-actions img {
  max-height: 1.5rem;
  cursor: pointer;
}

.property-btns {
  display: flex;
  gap: 1rem;
}

.dash-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-bottom: 1rem;
}

.property-summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  position: relative;
  grid-column: 1/3;
  padding: 2rem;
  border-radius: var(--radius);
  overflow: hidden;
  background-color: var(--dark-blue);
}

.property-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  outline: 2px solid var(--other-dark-blue);
  border-radius: var(--radius);
  padding: 1rem;
}

.property-details {
  display: grid;
  position: relative;
}

.property-info span {
  color: var(--dark-grey);
}

.property-img {
  display: flex;
  justify-content: center;
}

.property-img img {
  max-height: 15rem;
}

.property-stats {
  display: grid;
  gap: 1rem;
}

.prop-tenants,
.prop-units {
  padding: 0.5rem;
  background-color: var(--page-header-bgColor-hover);
  border-radius: var(--radius);
  width: 80%;
  margin-inline: auto;
}

.extra-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.4ch;
}

#extra-reserved {
  cursor: pointer;
}

.extra-info span {
  color: var(--blue);
}

.tenant-info,
.unit-info {
  margin-top: 0.5rem;
}

.tenant-info p,
.unit-info p {
  text-align: center;
  color: var(--grey);
}

.tenant-info span,
.unit-info span {
  color: var(--blue);
  font-size: 4ch;
}

.rent-stats-box {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--dark-blue);
  grid-column: 1/3;
}

#rent-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#rent-heading span {
  color: var(--page-header-headingColor);
}

.rent-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.rent-stat {
  padding: 1rem;
  border-radius: 0.3rem;
  display: grid;
  gap: 0.5rem;
  background-color: var(--page-header-bgColor);
}

.rent-stat-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rent-stat-info h4 {
  font-size: 2.5ch;
}

#expected {
  color: var(--blue);
}

#received {
  color: var(--green);
}

#remaining {
  color: var(--red);
}

.rent-stat-info span {
  color: var(--page-header-headingColor);
}

.payments-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-column: 1/3;
}

.invoice-box,
.transaction-box {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--dark-blue);
  height: max-content;
}

.invoices,
.transactions {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  max-height: 20rem;
  overflow: auto;
}

.invoicez {
  padding: 1rem;
  background-color: var(--page-header-bgColor-hover);
  border-radius: var(--radius);
  display: flex;
  gap: 1rem;
  align-items: center;
}

#invoice-date {
  flex-grow: 1;
  color: var(--grey);
}

.invoice-status,
.invoicez span {
  padding: 0.2rem 0.5rem;
  border-radius: var(--radius-l);
  font-size: 1.2ch;
  justify-self: flex-end;
}

#origin {
  background-color: var(--blue);
}

.pending {
  background-color: var(--blue);
}

.cleared {
  background-color: var(--green);
}

.modal {
  position: fixed;
  display: none;
  place-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.modal-header {
  text-align: right;
  padding-right: 1rem;
  background-color: var(--other-dark-blue);
}

.modal-content {
  width: 50%;
  border-radius: var(--radius);
  overflow: hidden;
  background-color: var(--dark-blue);
}

.modal-body {
  padding: 3rem 2rem;
}

.actions {
  padding: 1rem;
  margin-block: 1rem;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  outline: 1px solid var(--other-dark-blue);
}

.actions ul {
  margin: 0.8rem 1rem 0;
  color: var(--dark-grey);
  display: grid;
  gap: 0.5rem;
}

.suggestions {
  margin: 1rem 0 0;
  display: flex;
  align-items: start;
  gap: 0.3rem;
}

.suggestions img {
  height: 1rem;
}

.suggestions p {
  color: var(--blue);
}

.modal-body strong {
  color: var(--red);
}

.modal-footer {
  display: grid;
}

.modal-footer a button {
  width: 100%;
}

.modal-footer button {
  background-color: var(--green);
}

.closemodal {
  color: var(--red);
  font-size: 4ch;
  cursor: pointer;
}

.complaints {
  margin-top: 1rem;
  border-radius: 0.3rem;
  display: grid;
  gap: 1rem;
}

.complaints .else {
  text-align: center;
}

.complaints #tenant {
  margin-bottom: 8px;
  color: var(--red);
}

.complaint-info {
  padding: 0.8rem;
  background-color: var(--page-header-bgColor);
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complaint-info #tenant-names {
  padding: 0.1rem 0.5rem;
  background-color: var(--page-header-bgColor-hover);
  font-size: 1.5ch;
  border-radius: var(--radius);
}

#tenant-names a {
  color: var(--blue);
  font-weight: 600;
}

.complaints-info p {
  color: var(--grey);
}

.options {
  margin-top: 1rem;
  border-radius: var(--radius);
  display: grid;
  gap: 1rem;
}

.reservations {
  margin-top: 1rem;
  border-radius: var(--radius);
}

#reservation-date {
  color: var(--red);
}

.reservation-info {
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}

.expired {
  opacity: 0.5;
}

#divider {
  margin: 1rem 0;
  border: 0.1px solid var(--blue);
}

#reservation-status {
  color: rgb(7, 226, 7);
  font-size: 18px;
}

#status,
#status-expired {
  position: absolute;
  right: 1.2rem;
  top: 20px;
  color: rgb(7, 226, 7);
}

#status-expired {
  color: var(--red);
}

.reservation-info h4:first-child {
  color: grey;
}

#reserve-id {
  color: orange;
}

.reservation-info hr {
  margin: 0.8rem 0;
  border: 0.1px solid grey;
}

.reservation-info p {
  margin: 5px 0;
  color: yellow;
}

.expired p::selection,
.expired h4::selection,
.expired li::selection,
.expired span::selection {
  background-color: transparent;
}

#user-info,
#unit-info {
  list-style-type: none;
}

#user-info li,
#unit-info li {
  margin-top: 5px;
  margin-left: 10px;
}

.reservation-info span {
  color: var(--blue);
}

#expire {
  color: var(--red);
}

.reservations > .else {
  font-size: 14px;
}

.shifting {
  position: absolute;
  inset: 0;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.shifting img {
  max-height: 5rem;
  animation: rotate 1s forwards infinite ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --dark-blue: #fff;
    --other-dark-blue: whitesmoke;
    --page-header-bgColor: #e5e5e5;
    --page-header-bgColor-hover: #e0e0e0;
    --page-content-bgColor: #f9f9f9;
    --page-content-txtColor: #212121;
    --white: #212121;
    --black: #000;
    --light-blue: #00b8eb;
    --grey: #686767;
    --dark-grey: #444444;
    --shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
  }

  button,
  .tenant-unit-assigned,
  .tenant-unit-unassigned,
  .occupation {
    color: var(--dark-blue);
  }

  .tablinks,
  #dashboard button,
  .dropdown-btn {
    color: var(--black);
  }

  .invoice-status,
  #watermark {
    color: var(--dark-blue);
  }
}
