.container {
  padding: 2rem 4rem;
  display: grid;
  gap: 2rem;
}

.search-box {
  display: grid;
  gap: 1rem;
}

.search-title h1 {
  font-size: 5ch;
  color: var(--other-dark-blue);
  text-align: center;
}

.form {
  display: grid;
  margin-top: 1rem;
}

.search-form form,
.live-search-form form {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 40%;
  margin-inline: auto;
}

.live-search-form {
  display: none;
}

#search-input {
  flex-grow: 1;
  min-width: max-content;
}

.search-text {
  position: absolute;
  color: var(--blue);
  font-size: 15px;
  right: -8rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.all-units {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.units {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-s);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.unit-image-box {
  height: 10rem;
  display: grid;
}

.unit-image-box img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.unit-info {
  padding: 1rem;
}

.unit-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-header h4 {
  font-size: 3ch;
  color: var(--dark-blue);
}

.unit-header p {
  color: var(--black);
}

#rent {
  color: var(--red);
}

#hr {
  border: none;
  outline: 1px solid var(--grey);
  margin: 1rem 0;
}

.unit-metrics-box {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.unit-metric {
  flex-grow: 1;
  display: flex;
  gap: 0.5rem;
  align-items: start;
  background-color: var(--grey);
  border-radius: var(--radius-s);
  padding: 0.5rem;
}

.unit-metric img {
  max-height: 1.2rem;
}

.area {
  color: var(--other-dark-blue);
}

.area h4 {
  font-size: 1.4ch;
}

.area p {
  font-size: 1.6ch;
}

.unit-btn {
  margin-top: 1rem;
}

.unit-btn button {
  font-size: 1.5ch;
  width: 100%;
  border-radius: 0;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  color: var(--black);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.page-number {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#current {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.3rem;
}

.else {
  padding-block: 1rem;
  text-align: center;
}

.else h4 {
  color: var(--red);
}
