#dashboard button {
  width: 100%;
}

.dash-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-bottom: 1rem;
}

.property-summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  position: relative;
  grid-column: 1/3;
  padding: 1rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

#modalbtn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3rem;
  border: none;
  border-radius: 0 0 0.3rem 0;
  color: white;
  background-color: var(--red);
  cursor: pointer;
}

.property-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.property-details {
  display: grid;
  position: relative;
}

.property-details p {
  font-size: 2ch;
}

.property-info span {
  font-size: 1.6ch;
  color: grey;
}

.property-img {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.property-img img {
  height: 15rem;
}

.property-stats {
  display: grid;
  gap: 1rem;
}

.prop-tenants,
.prop-units {
  padding: 0.5rem;
}

.extra-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.4ch;
}

#extra-reserved {
  cursor: pointer;
}

.extra-info span {
  color: var(--blue);
}

.tenant-info,
.unit-info {
  margin-top: 0.5rem;
}

.tenant-info p,
.unit-info p {
  text-align: center;
}

.tenant-info span,
.unit-info span {
  font-size: 4ch;
}

.rent-stats-box {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--dark-blue);
  grid-column: 1/3;
}

#rent-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#rent-heading span {
  color: var(--page-header-headingColor);
}

.rent-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.rent-stat {
  padding: 1rem;
  border-radius: 0.3rem;
  display: grid;
  gap: 0.5rem;
  background-color: var(--page-header-bgColor);
}

.rent-stat-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rent-stat-info p {
  font-size: 2.5ch;
}

#expected {
  color: var(--blue);
}

#received {
  color: green;
}

#remaining {
  color: var(--red);
}

.rent-stat-info span {
  color: var(--page-header-headingColor);
}

.payments-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-column: 1/3;
}

.invoice-box,
.transaction-box {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--dark-blue);
  height: max-content;
}

.invoices,
.transactions {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  max-height: 20rem;
  overflow: auto;
}

.invoicez {
  padding: 1rem;
  background-color: var(--page-header-bgColor-hover);
  border-radius: 0.3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#invoice-date {
  flex-grow: 1;
}

.invoice-status,
.invoicez span {
  padding: 0.2rem 0.5rem;
  border-radius: 30rem;
  font-size: 1.2ch;
  justify-self: flex-end;
}

#origin {
  background-color: var(--page-header-headingColor);
}

.pending {
  background-color: var(--blue);
}

.cleared {
  background-color: green;
}

.tenants,
.units {
  border-radius: 5px;
  overflow: hidden;
}

.tenants h4,
.units h4 {
  padding: 10px;
  font-size: 1.2rem;
}

.tenant-list,
.unit-list {
  display: grid;
  gap: 0.2rem;
  max-height: max-content;
  max-height: 20rem;
  overflow-y: auto;
  padding: 0.2rem 0.5rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.dot {
  position: absolute;
  inset: 0 auto 0 0;
  padding: 2px;
  height: inherit;
}

.active {
  background-color: var(--blue);
}

.non-active {
  background-color: var(--red);
}

.card img {
  height: 2.5rem;
}

#tenant-name,
#unit-type {
  flex-grow: 1;
}

#tenant-assigned,
#tenant-unassigned,
.unit-status {
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 1.3ch;
}

#tenant-assigned {
  background-color: green;
}

#tenant-unassigned {
  background-color: var(--red);
}

.units > h4 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#btn {
  padding: 5px 10px;
  cursor: pointer;
  font-family: var(--font-1);
  border-radius: 3px;
  border: none;
  background-color: var(--blue);
}

.occupied {
  background-color: green;
}

.vacant {
  background-color: var(--red);
}

.reserved {
  background-color: orange;
}

.else {
  margin: 0;
  padding: 0.4rem 0;
  background-color: transparent;
  color: var(--red);
}

.tenant-unit-unassigned > .else {
  margin: 0;
}

.modal {
  position: fixed;
  display: none;
  place-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.modal-header {
  text-align: right;
  padding-right: 1rem;
}

.modal-content {
  width: 50%;
  border-radius: 5px;
  overflow: hidden;
}

.modal-body {
  padding: 3rem 2rem;
}

.actions {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.actions img {
  height: 10rem;
}

.actions h4 {
  font-size: 2.2ch;
}

.actions ul {
  margin: 0.8rem 1rem 0;
  color: grey;
  display: grid;
  gap: 0.5rem;
}

.suggestions {
  margin: 1rem 0 0;
  display: flex;
}

.suggestions img {
  height: 1rem;
}

.suggestions h4 {
  color: orange;
  margin-left: 10px;
}

.modal-body strong {
  color: var(--red);
  font-size: 1.2rem;
}

.modal-footer {
  display: grid;
}

.modal-footer a button {
  width: 100%;
}

.modal-footer button {
  border: none;
  padding: 0.5em 1em;
  background-color: green;
  cursor: pointer;
  color: white;
}

.closemodal {
  color: var(--red);
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
}

.complaints {
  margin: 1.5rem 0 0;
  border-radius: 0.3rem;
  display: grid;
  gap: 1rem;
}

.complaints .else {
  font-size: 2ch;
  text-align: center;
}

#more-info {
  color: grey;
}

.complaints #tenant {
  margin-bottom: 8px;
  color: var(--red);
}

.complaint-info {
  padding: 0.5rem;
  position: relative;
}

.complaint-info > h4 {
  position: relative;
}

.complaint-info #tenant-names {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1rem 0.5rem;
  background-color: green;
  font-size: 1.5ch;
}

.complaint-info h4 {
  font-size: 2.5ch;
  position: relative;
}

.complaint-info p {
  font-size: 2ch;
  opacity: 0.8;
}

.options {
  margin: 1rem 0;
  border-radius: 0.3rem;
  display: grid;
  gap: 1rem;
}

.disable-property,
.property-availability {
  border-radius: 0.3rem;
}

.disable-property h4,
.property-availability h4 {
  padding: 0.8rem;
  font-size: 2ch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#property-status {
  color: var(--blue);
}

.availability {
  border-radius: 0 0 0.3rem 0.3rem;
  padding: 1rem;
}

.availability form {
  display: grid;
  gap: 1rem;
}

.availability form select {
  padding: 0.8em;
  font-size: 2ch;
}

.availability form button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 0.8em;
  font-size: 2ch;
}

.unit-registration {
  padding: 1rem;
  margin: 1rem 0 0;
  border-radius: 0.3rem;
}

.unit-registration form {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.unit-registration form .btn {
  background-color: green;
  color: white;
  padding: 0.8em;
  grid-column: 1/3;
  border-radius: 0.3rem;
  font-size: 2ch;
}

#unit-info {
  margin-top: 8px;
  color: grey;
}

#unit-infos {
  margin-top: 8px;
  color: grey;
  display: inline-block;
}

.reservations {
  margin-top: 1rem;
  border-radius: 0.3rem;
}

#reservation-date {
  color: var(--red);
}

.reservation-info {
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}

.expired {
  opacity: 0.5;
}

#divider {
  margin: 1rem 0;
  border: 0.1px solid var(--blue);
}

#reservation-status {
  color: rgb(7, 226, 7);
  font-size: 18px;
}

#status,
#status-expired {
  position: absolute;
  right: 1.2rem;
  top: 20px;
  color: rgb(7, 226, 7);
}

#status-expired {
  color: var(--red);
}

.reservation-info h4:first-child {
  color: grey;
}

#reserve-id {
  color: orange;
}

.reservation-info hr {
  margin: 0.8rem 0;
  border: 0.1px solid grey;
}

.reservation-info p {
  margin: 5px 0;
  color: yellow;
}

.expired p::selection,
.expired h4::selection,
.expired li::selection,
.expired span::selection {
  background-color: transparent;
}

#user-info,
#unit-info {
  list-style-type: none;
}

#user-info li,
#unit-info li {
  margin-top: 5px;
  margin-left: 10px;
}

.reservation-info span {
  color: var(--blue);
}

#expire {
  color: var(--red);
}

.reservations > .else {
  font-size: 14px;
}

.no {
  margin-top: 3rem;
  text-align: center;
}

.shifting {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  display: none;
}

.shifting img {
  max-height: 5rem;
  animation: rotate 1s forwards infinite ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  .content-area,
  body,
  .main-navigation button:hover,
  .main-navigation button:focus,
  .secondary-navigation button:hover,
  .secondary-navigation button:focus,
  .prop-tenants,
  .prop-units,
  .actions,
  .property-registration input,
  select,
  .unit-registration input,
  select,
  .revoke-access input,
  .assign-unit input,
  .prop-owned-info,
  .modal-header,
  .modal-footer,
  .shifting,
  .notification-area {
    background-color: var(--other-dark-blue);
  }

  .side-nav,
  .notifications,
  .property-summary,
  .tenants,
  .units,
  .modal-content,
  .disable-property,
  .property-availability,
  .revoke-access,
  .assign-unit,
  .property-registration,
  .unit-registration,
  .reservation-info,
  .personal-info-details,
  .properties-owned,
  .card,
  .cards {
    background-color: var(--dark-blue);
  }

  .tenants > h4,
  .units > h4,
  .notification-info,
  .disable-property h4,
  .property-availability h4,
  .revoke-access h4,
  .assign-unit h4,
  .complaint-info,
  .tenant-list,
  .unit-list {
    background-color: var(--page-header-bgColor);
  }

  .show-side-nav {
    box-shadow: 0 0 30px -5px black;
  }

  .tenant-search input {
    outline: 2px solid whitesmoke;
    background-color: var(--page-header-bgColor);
  }

  .notifications {
    background-color: var(--page-header-bgColor-hover);
  }

  .availability > p {
    background-color: var(--blue);
  }

  .availability > p span {
    color: rgb(0, 255, 0);
  }

  .burger > div,
  .side {
    background-color: white;
  }
}

@media (prefers-color-scheme: light) {
  .content-area,
  body,
  .main-navigation button:hover,
  .main-navigation button:focus,
  .secondary-navigation button:hover,
  .secondary-navigation button:focus,
  .prop-tenants,
  .prop-units,
  .card,
  .cards,
  .actions,
  .complaint-info,
  .property-registration input,
  select,
  .unit-registration input,
  select,
  .revoke-access input,
  .assign-unit input,
  .prop-owned-info,
  .shifting,
  .notification-area {
    background-color: whitesmoke;
  }

  .side-nav,
  .notifications,
  .property-summary,
  .tenants,
  .units,
  .modal-content,
  .complaints,
  .disable-property,
  .property-availability,
  .revoke-access,
  .assign-unit,
  .property-registration,
  .unit-registration,
  .reservation-info,
  .personal-info-details,
  .properties-owned,
  .notification-info {
    background-color: white;
  }

  .extra-info span {
    color: rgb(2, 201, 2);
  }

  .show-side-nav {
    box-shadow: 0 0 30px -5px black;
  }

  .tenants > h4,
  .units > h4,
  .modal-header,
  .modal-footer {
    background-color: rgb(209, 209, 209);
  }

  #tenant-assigned,
  #tenant-unassigned,
  .unit-status {
    color: white;
  }

  .tenant-search input {
    outline: 2px solid black;
  }

  .suggestions h4,
  .disable-property h4,
  .property-availability h4,
  .revoke-access h4,
  .assign-unit h4 {
    color: rgb(2, 201, 2);
  }

  .reservation-info p {
    color: rgb(2, 201, 2);
  }

  .notifications,
  .availability > p {
    background-color: bisque;
  }

  .burger > div,
  .side {
    background-color: black;
  }
}
