#prop_id {
  color: rgb(0, 255, 0);
  font-size: 1rem;
}

#other {
  color: rgb(0, 255, 0);
}

#dash button {
  right: 1rem;
}

.shifting {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  display: none;
}

.shifting img {
  max-height: 5rem;
  animation: rotate 1s forwards infinite ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dash-information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  overflow: hidden;
  margin: 1rem 0 0.5rem;
  min-width: 100%;
  max-width: 100%;
  max-height: 88vh;
  overflow: auto;
  padding-right: 8px;
}

.property-summary {
  border-radius: 5px;
  grid-column: 1/5;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height: 42vh;
  max-height: 42vh;
  overflow: auto;
  position: relative;
}

.property-summary > p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  background-color: var(--red);
  text-decoration: none;
  cursor: pointer;
}

.property-info {
  max-width: 30vw;
  min-width: 26vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}

.property-info p {
  font-size: 22px;
  position: relative;
  padding: 15px 1px;
}

.property-info span {
  color: var(--blue);
  min-width: max-content;
  max-width: 8vw;
  font-weight: bold;
  text-overflow: ellipsis;
  font-size: 14px;
  position: absolute;
  top: -10px;
  left: -5px;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 1px;
}

.property-img img {
  height: 20rem;
  margin-left: -6rem;
}

.property-img #apartment {
  height: 18rem;
}

#warehouse {
  height: 14rem;
  width: 16rem;
}

.property-stats {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 10px;
  padding: 10px;
}

.prop-tenants,
.prop-units {
  padding: 30px 10px 10px;
  border-radius: 5px;
  min-width: 18vw;
  max-width: 40vw;
  font-size: 20px;
  position: relative;
  text-align: center;
}

.prop-tenants p,
.prop-units p {
  margin: 10px 0 0;
}

.prop-tenants > p > span,
.prop-units > p span {
  color: var(--blue);
  font-size: 50px;
}

.extra-info {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 14px;
  padding: 0 5px;
  display: flex;
  width: 100%;
}

.extra-info h4 {
  padding-right: 10px;
  font-weight: normal;
}

#extra-reserved {
  cursor: pointer;
}

.extra-info span {
  color: greenyellow;
  font-size: 15px;
}

.tenants,
.units {
  border-radius: 5px;
  overflow: hidden;
  max-width: 100%;
  min-width: 100%;
  height: max-content;
}

.tenants {
  grid-column: 1/3;
}

.tenants h4,
.units h4 {
  padding: 10px;
  font-size: 1.2rem;
}

.tenant-list,
.unit-list {
  display: grid;
  grid-template-columns: repeat(1, auto);
  row-gap: 10px;
  padding: 10px;
  height: fit-content;
  max-height: 30rem;
  overflow: auto;
}

#unit-name,
#tenant-name,
.tenant-icon,
.unit-icon {
  position: relative;
}

#tenant-name {
  min-width: max-content;
  max-width: 12vw;
  text-overflow: ellipsis;
}

#tenant-names a {
  text-decoration: none;
  color: white;
}

#new,
#newz {
  position: absolute;
  top: -1.1rem;
  left: -2.9rem;
  margin-left: 10px;
  background-color: orange;
  border-radius: 2px;
  padding: 3px 4px;
  color: white;
  font-size: 8px;
  animation: pulse 1.2s infinite;
}

#newz {
  left: -4rem;
}

#news {
  position: absolute;
  inset: 2px -2.5rem 0 auto;
  margin: 6px 0;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: orange;
  border-radius: 2px;
  animation: none;
  color: white;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.card,
.cards {
  height: 3.5rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 0.8fr 3fr 1.5fr 2fr;
  justify-content: left;
  align-items: center;
  column-gap: 2rem;
  padding: 0 0 0 20px;
  overflow: hidden;
  position: relative;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  height: inherit;
}

.active {
  background-color: #00b9eb;
}

.non-active {
  background-color: grey;
}

.cards {
  grid-template-columns: 0.8fr 1fr 0.8fr 1.5fr 1fr;
}

.card img,
.cards img {
  height: 2.8rem;
}

.card a {
  color: var(--blue);
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

#tenant-assigned,
#tenant-unassigned {
  padding: 5px 10px;
  width: max-content;
  border-radius: 3px;
  font-size: 14px;
}

#tenant-assigned {
  background-color: rgb(6, 187, 6);
}

#tenant-unassigned {
  background-color: red;
}

.units {
  grid-column: 3/5;
}

.units > h4 {
  position: relative;
}

#btn {
  position: absolute;
  right: 1rem;
  padding: 5px 10px;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  color: rgb(6, 187, 6);
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
}

.cards p:nth-child(2) {
  color: grey;
}

.cards p:nth-child(3) {
  color: #00b9eb;
}

.unit-status {
  text-align: center;
  width: max-content;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 14px;
}

.occupied {
  background-color: rgb(6, 187, 6);
}

.vacant {
  background-color: red;
}

.reserved {
  background-color: rgb(215, 140, 0);
}

.else {
  background-color: transparent;
  color: var(--red);
  font-size: 1.2rem;
}

.tenant-unit-unassigned > .else {
  margin: 0;
}

.modal {
  position: fixed;
  display: none;
  place-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-content {
  max-width: 90%;
  width: 50%;
  border-radius: 5px;
  overflow: hidden;
}

.modal-header {
  position: relative;
  padding: 1.2rem 0;
}

.modal-body {
  padding: 3rem 2rem;
}

.actions {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.actions img {
  height: 10rem;
}

.actions h4 {
  font-size: 1.2rem;
}

.actions ul {
  margin: 0.8rem 1rem 0;
  color: grey;
}

.actions li {
  margin-bottom: 8px;
}

.suggestions {
  margin: 1rem 0 0;
  display: flex;
}

.suggestions img {
  height: 1rem;
}

.suggestions h4 {
  color: gold;
  margin-left: 10px;
}

.modal-body strong {
  color: var(--red);
  font-size: 1.2rem;
}

.modal-footer {
  padding: 0.5rem 1rem;
  text-align: center;
}

.modal-footer a {
  text-decoration: none;
}

.modal-footer button {
  border: none;
  padding: 10px 20px;
  border-radius: 35px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: green;
  cursor: pointer;
  color: white;
  min-width: 15rem;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  margin-left: 1rem;
}

.closemodal {
  position: absolute;
  color: red;
  font-size: 2rem;
  right: 1rem;
  top: -5px;
  cursor: pointer;
}

.complaints {
  margin: 1.5rem 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  max-width: 98.5%;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.complaints .else {
  font-size: 1rem;
  text-align: center;
}

#more-info {
  margin-top: 8px;
  color: grey;
}

.complaints #tenant {
  margin-bottom: 8px;
  color: var(--red);
}

.complaint-info {
  line-height: 28px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.complaint-info > h4 {
  position: relative;
  width: max-content;
}

.complaint-info #tenant-names {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  text-align: center;
  background-color: rgb(8, 184, 8);
  color: white;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
}

.complaint-info #date {
  position: absolute;
  right: 5px;
}

.complaint-info h4 {
  font-size: 22px;
  position: relative;
}

.complaint-info span {
  color: var(--blue);
  font-size: 14px;
}

.complaint-info p {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
}

.options {
  margin: 1rem 0;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 88vh;
  overflow: auto;
  padding: 2px 10px 0 0;
}

.disable-property,
.property-availability {
  height: max-content;
  border-radius: 5px;
  box-shadow: 0 0 10px -6px black;
  overflow: hidden;
}

.disable-property h4,
.property-availability h4 {
  padding: 10px 15px;
  color: var(--blue);
  font-size: 1rem;
  letter-spacing: 1px;
}

.availability {
  border-radius: 5px;
  margin: 1rem 0 0;
  padding: 0 15px;
}

.availability p {
  padding: 10px;
  max-width: max-content;
  border-radius: 5px;
  font-family: "PT Sans", sans-serif;
}

.availability > p span {
  color: var(--blue);
  font-size: 1.2rem;
}

.availability form {
  margin: 1rem 0 0;
}

.availability form select {
  padding: 12px 0;
  text-indent: 10px;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.availability form button {
  background-color: rgb(3, 116, 3);
  color: white;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.unit-registration {
  padding: 20px;
  margin: 1rem 0 0;
  border-radius: 5px;
}

.unit-registration {
  max-height: 100vh;
  overflow: auto;
}

.unit-registration form {
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 40px;
  row-gap: 20px;
  max-height: 39.5rem;
}

.unit-registration ::placeholder {
  font-family: "PT Sans", sans-serif;
  color: var(--page-header-headingColor);
  font-size: 16px;
}

.unit-registration input,
select {
  border: none;
  border-radius: 3px;
  padding: 15px;
  margin: 0.5rem 0 1rem;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
}

.unit-registration select {
  cursor: pointer;
}

.btn {
  grid-column: 1/3;
}

.unit-registration .btn {
  border: none;
  background-color: rgb(3, 116, 3);
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-family: system-ui;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.unit-registration .form5 {
  grid-column: 1/3;
}

#unit-info {
  margin-top: 8px;
  color: grey;
}

#unit-infos {
  margin-top: 8px;
  color: grey;
  display: inline-block;
}

.reservations {
  margin-top: 1rem;
  padding-right: 10px;
  border-radius: 5px;
  max-height: 40.7rem;
  overflow: auto;
}

#reservation-date {
  color: var(--red);
}

.reservation-info {
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}

.expired {
  opacity: 0.5;
}

#divider {
  margin: 1rem 0;
  border: 0.1px solid var(--blue);
}

#reservation-status {
  color: rgb(7, 226, 7);
  font-size: 18px;
}

#status,
#status-expired {
  position: absolute;
  right: 1.2rem;
  top: 20px;
  color: rgb(7, 226, 7);
}

#status-expired {
  color: var(--red);
}

.reservation-info h4:first-child {
  color: grey;
}

#reserve-id {
  color: orange;
}

.reservation-info hr {
  margin: 0.8rem 0;
  border: 0.1px solid grey;
}

.reservation-info p {
  margin: 5px 0;
  color: yellow;
}

.expired p::selection,
.expired h4::selection,
.expired li::selection,
.expired span::selection {
  background-color: transparent;
}

#user-info,
#unit-info {
  list-style-type: none;
}

#user-info li,
#unit-info li {
  margin-top: 5px;
  margin-left: 10px;
}

.reservation-info span {
  color: var(--blue);
}

#expire {
  color: var(--red);
}

.reservations > .else {
  font-size: 14px;
  margin-top: 10px;
}

.no {
  margin-top: 3rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .content-area,
  body,
  .main-navigation button:hover,
  .main-navigation button:focus,
  .secondary-navigation button:hover,
  .secondary-navigation button:focus,
  .prop-tenants,
  .prop-units,
  .card,
  .cards,
  .actions,
  .complaint-info,
  .property-registration input,
  select,
  .unit-registration input,
  select,
  .revoke-access input,
  .assign-unit input,
  .prop-owned-info,
  .modal-header,
  .modal-footer,
  .shifting,
  .notification-area {
    background-color: var(--other-dark-blue);
  }

  .side-nav,
  .notifications,
  .property-summary,
  .tenants,
  .units,
  .modal-content,
  .complaints,
  .disable-property,
  .property-availability,
  .revoke-access,
  .assign-unit,
  .property-registration,
  .unit-registration,
  .reservation-info,
  .personal-info-details,
  .properties-owned {
    background-color: var(--dark-blue);
  }

  .tenants > h4,
  .units > h4,
  .notification-info,
  .disable-property h4,
  .property-availability h4,
  .revoke-access h4,
  .assign-unit h4 {
    background-color: var(--page-header-bgColor);
  }

  .show-side-nav {
    box-shadow: 0 0 30px -5px black;
  }

  .tenant-search input {
    outline: 2px solid whitesmoke;
    background-color: var(--page-header-bgColor);
  }

  .notifications {
    background-color: var(--page-header-bgColor-hover);
  }

  .availability > p {
    background-color: var(--blue);
  }

  .availability > p span {
    color: rgb(0, 255, 0);
  }

  .burger > div,
  .side {
    background-color: white;
  }
}

@media (prefers-color-scheme: light) {
  .content-area,
  body,
  .main-navigation button:hover,
  .main-navigation button:focus,
  .secondary-navigation button:hover,
  .secondary-navigation button:focus,
  .prop-tenants,
  .prop-units,
  .card,
  .cards,
  .actions,
  .complaint-info,
  .property-registration input,
  select,
  .unit-registration input,
  select,
  .revoke-access input,
  .assign-unit input,
  .prop-owned-info,
  .shifting,
  .notification-area {
    background-color: whitesmoke;
  }

  .side-nav,
  .notifications,
  .property-summary,
  .tenants,
  .units,
  .modal-content,
  .complaints,
  .disable-property,
  .property-availability,
  .revoke-access,
  .assign-unit,
  .property-registration,
  .unit-registration,
  .reservation-info,
  .personal-info-details,
  .properties-owned,
  .notification-info {
    background-color: white;
  }

  .extra-info span {
    color: rgb(2, 201, 2);
  }

  .show-side-nav {
    box-shadow: 0 0 30px -5px black;
  }

  .tenants > h4,
  .units > h4,
  .modal-header,
  .modal-footer {
    background-color: rgb(209, 209, 209);
  }

  #tenant-assigned,
  #tenant-unassigned,
  .unit-status {
    color: white;
  }

  .tenant-search input {
    outline: 2px solid black;
  }

  .suggestions h4,
  .disable-property h4,
  .property-availability h4,
  .revoke-access h4,
  .assign-unit h4 {
    color: rgb(2, 201, 2);
  }

  .reservation-info p {
    color: rgb(2, 201, 2);
  }

  .notifications,
  .availability > p {
    background-color: bisque;
  }

  .burger > div,
  .side {
    background-color: black;
  }
}

@media screen and (max-width: 1400px) {
  .side-nav {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-14rem);
    transition: 0.2s ease;
  }

  .show-side-nav {
    position: fixed;
    z-index: 2;
    transform: translateX(0);
  }

  .burger {
    display: block;
  }

  .content-area {
    padding: 0 2rem;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .show-close {
    animation-delay: 1s;
    visibility: visible;
    left: 14rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .property-img {
    display: none;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .notifications {
    min-width: 16rem;
    max-width: 18rem;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .property-info {
    min-width: 100%;
    padding: 0 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .property-summary {
    padding: 0 10px;
    height: max-content;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .property-info p {
    font-size: 0.8rem;
  }

  .property-info span {
    font-size: 0.6rem;
  }

  .extra-info span {
    font-size: 0.8rem;
  }

  .extra-info h4 {
    font-size: 0.7rem;
  }

  .property-stats p {
    font-size: 0.6rem;
  }

  .prop-tenants > p,
  .prop-units > p {
    font-size: 1rem;
  }

  .prop-tenants > p > span,
  .prop-units > p > span {
    font-size: 1.5rem;
  }

  .property-summary,
  .tenants,
  .units {
    grid-column: 1/3;
  }

  .card,
  .cards {
    overflow: auto;
  }

  .tenant-details p,
  .unit-details p {
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prop-tenants,
  .prop-units {
    min-width: 70vw;
    max-width: 70vw;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .disable-property,
  .property-availability {
    grid-column: 1/3;
  }

  .modal-content {
    width: 80%;
  }

  .actions img {
    display: none;
  }

  .tenant-search,
  #dash button,
  .complaint-info #tenant-names {
    position: unset;
    margin-top: 10px;
  }

  .card,
  .cards {
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }

  .card {
    grid-template-columns: repeat(2, auto);
    padding-right: 1.5rem;
  }

  #tenant-name,
  #unit-name,
  #unit-type,
  #tenant-assigned,
  #tenant-unassigned {
    display: none;
  }

  .revoke-access input,
  .assign-unit input,
  #revoke-btn,
  #assign-btn {
    width: 100%;
  }

  .property-registration > form,
  .unit-registration > form {
    grid-template-columns: 1fr;
  }

  .btn,
  .unit-registration .form5 {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .property-img {
    display: none;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .property-info {
    min-width: 100%;
    padding: 0 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .property-summary {
    padding: 0 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .property-info p {
    font-size: 1rem;
  }

  .property-info span {
    font-size: 0.8rem;
  }

  .extra-info span {
    font-size: 0.8rem;
  }

  .extra-info h4 {
    font-size: 0.7rem;
  }

  .property-stats p {
    font-size: 0.6rem;
  }

  .prop-tenants > p,
  .prop-units > p {
    font-size: 1rem;
  }

  .prop-tenants > p > span,
  .prop-units > p > span {
    font-size: 1.5rem;
  }

  .property-summary,
  .tenants,
  .units {
    grid-column: 1/3;
  }

  .card,
  .cards {
    overflow: auto;
  }

  .tenant-details p,
  .unit-details p {
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prop-tenants,
  .prop-units {
    min-width: 70vw;
    max-width: 70vw;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .disable-property,
  .property-availability {
    grid-column: 1/3;
  }

  .modal-content {
    width: 80%;
  }

  .actions img {
    display: none;
  }

  .tenant-search,
  #dash button,
  .complaint-info #tenant-names {
    position: unset;
    margin-top: 10px;
  }

  .card,
  .cards {
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }

  #tenant-name,
  #unit-name,
  #unit-type {
    display: none;
  }

  .revoke-access input,
  .assign-unit input,
  #revoke-btn,
  #assign-btn {
    width: 100%;
  }

  .property-registration > form,
  .unit-registration > form {
    grid-template-columns: 1fr;
  }

  .btn,
  .unit-registration .form5 {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
  .property-img {
    display: none;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .property-info {
    width: 30vw;
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .property-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .property-info p {
    font-size: 1rem;
  }

  .property-info span {
    font-size: 0.8rem;
  }

  .extra-info span {
    font-size: 0.8rem;
  }

  .extra-info h4 {
    font-size: 0.7rem;
  }

  .property-stats p {
    font-size: 0.6rem;
  }

  .prop-tenants > p,
  .prop-units > p {
    font-size: 1rem;
  }

  .prop-tenants > p > span,
  .prop-units > p > span {
    font-size: 1.5rem;
  }

  .property-summary,
  .tenants,
  .units {
    grid-column: 1/3;
  }

  .card,
  .cards {
    overflow: auto;
  }

  .tenant-details p,
  .unit-details p {
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prop-tenants,
  .prop-units {
    width: 35vw;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .disable-property,
  .property-availability {
    grid-column: 1/3;
  }

  .modal-content {
    width: 80%;
  }

  .actions img {
    display: none;
  }

  .tenant-search {
    position: unset;
    margin-top: 10px;
  }

  .card,
  .cards {
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }

  .cards {
    grid-template-columns: repeat(4, auto);
  }

  #tenant-name,
  #unit-name {
    display: none;
  }

  .revoke-access input,
  .assign-unit input,
  #revoke-btn,
  #assign-btn {
    width: 100%;
  }

  .property-registration > form,
  .unit-registration > form {
    grid-template-columns: 1fr;
  }

  .btn,
  .unit-registration .form5 {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  .property-img {
    display: none;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .property-img #apartment {
    height: 16rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .property-info {
    width: 30vw;
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .property-info p {
    font-size: 1rem;
  }

  .property-info span {
    font-size: 0.8rem;
  }

  .extra-info span {
    font-size: 0.8rem;
  }

  .extra-info h4 {
    font-size: 0.7rem;
  }

  .property-stats p {
    font-size: 0.6rem;
  }

  .prop-tenants > p,
  .prop-units > p {
    font-size: 1rem;
  }

  .prop-tenants > p > span,
  .prop-units > p > span {
    font-size: 1.5rem;
  }

  .property-summary,
  .tenants,
  .units {
    grid-column: 1/3;
  }

  #tenant-name {
    max-width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tenant-details p,
  .unit-details p {
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prop-tenants,
  .prop-units {
    width: 35vw;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(1, 1fr);
  }

  .disable-property,
  .property-availability {
    grid-column: 1/3;
  }

  .modal-content {
    width: 80%;
  }

  .tenant-search {
    width: 12rem;
  }

  .revoke-access input,
  .assign-unit input,
  #revoke-btn,
  #assign-btn {
    width: 100%;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  .property-img {
    display: none;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .property-img #apartment {
    height: 16rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .property-info {
    width: 30vw;
  }

  .prop-tenants > p > span,
  .prop-units > p > span {
    font-size: 2rem;
  }

  .property-summary,
  .tenants,
  .units {
    grid-column: 1/3;
  }

  #tenant-name {
    min-width: max-content;
    max-width: 20vw;
    text-overflow: ellipsis;
  }

  .tenant-details p,
  .unit-details p {
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prop-tenants,
  .prop-units {
    width: 30vw;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(2, 1fr);
  }

  .disable-property,
  .property-availability {
    grid-column: 1/3;
  }

  .modal-content {
    width: 80%;
  }

  .revoke-access input,
  .assign-unit input,
  #revoke-btn,
  #assign-btn {
    width: 100%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
  .property-img img {
    height: 16rem;
    margin-left: -3rem;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .property-img #apartment {
    height: 16rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .property-info {
    grid-template-columns: 1fr;
  }

  .property-summary,
  .tenants,
  .units {
    grid-column: 1/3;
  }

  #tenant-name {
    min-width: max-content;
    max-width: 20vw;
    text-overflow: ellipsis;
  }

  .prop-tenants,
  .prop-units {
    width: 23vw;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(2, 1fr);
  }

  .disable-property,
  .property-availability {
    grid-column: 1/3;
  }

  .modal-content {
    width: 80%;
  }

  .revoke-access input,
  .assign-unit input,
  #revoke-btn,
  #assign-btn {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .property-img img {
    height: 16rem;
    margin-left: -3rem;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .property-img #apartment {
    height: 16rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .property-summary,
  .tenants,
  .units {
    grid-column: 1/3;
  }

  #tenant-name {
    min-width: max-content;
    max-width: 20vw;
    text-overflow: ellipsis;
  }

  .prop-tenants,
  .prop-units {
    width: 23vw;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(2, 1fr);
  }

  .disable-property,
  .property-availability {
    grid-column: 1/3;
  }

  .revoke-access input,
  .assign-unit input,
  #revoke-btn,
  #assign-btn {
    width: 100%;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .property-img img {
    height: 16rem;
    margin-left: -3rem;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }

  .property-img #apartment {
    height: 16rem;
  }

  .dash-information {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .property-summary,
  .tenants,
  .units {
    grid-column: 1/3;
  }

  .all-tenants,
  .all-units {
    grid-template-columns: repeat(2, 1fr);
  }

  #tenant-name {
    min-width: max-content;
    max-width: 20vw;
    text-overflow: ellipsis;
  }

  .prop-tenants,
  .prop-units {
    width: 23vw;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1250px) {
  .property-img img {
    height: 20rem;
    margin-left: -3rem;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1400px) {
  .property-img img {
    height: 20rem;
    margin-left: -3rem;
  }

  .notification-area {
    position: fixed;
    width: 97%;
  }

  .tabcontent {
    margin-top: 4rem;
  }
}
