.unit-container,
.form-container {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.unit-details-box {
  display: grid;
  gap: 1rem;
  color: var(--black);
}

.unit--info h1 {
  font-size: 5ch;
  color: var(--other-dark-blue);
}

.unit-metrics-box {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.unit-metric {
  flex-grow: 1;
  display: flex;
  gap: 0.5rem;
  align-items: start;
  padding: 1rem;
  background-color: var(--white);
  border-radius: var(--radius-s);
  box-shadow: var(--box-shadow);
}

.unit-metric img {
  max-height: 2rem;
}

.area {
  color: var(--other-dark-blue);
}

#rent {
  font-size: 3ch;
  color: var(--red);
}

.unit-image-box {
  height: 30rem;
  border-radius: var(--radius-s);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.unit-image-box img {
  height: inherit;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.form-container {
  align-items: start;
  background-color: var(--dark-blue);
}

.landlord-details-box {
  display: grid;
  gap: 1rem;
}

.landlord-details {
  padding: 1rem;
  border-radius: var(--radius-s);
  background-color: var(--other-dark-blue);
}

#hr {
  border: none;
  outline: 1px solid var(--other-dark-blue);
  margin: 1rem 0;
}

.unit-enquiry-box {
  display: grid;
  gap: 2rem;
  padding-inline: 4rem;
}

.unit-enquiry-box form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.input input,
.input textarea {
  background-color: var(--other-dark-blue);
  color: var(--grey);
}

.extend,
.unit-enquiry-box form button {
  grid-column: 1/3;
}
