.container {
  padding: 4rem;
}

.reservation-box {
  display: grid;
  gap: 1rem;
}

.reservation-header h1 {
  color: var(--other-dark-blue);
}

.reservation-info-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

#more-info {
  color: var(--dark-grey);
  text-align: left;
}

.booking {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  background-color: var(--white);
  border-radius: var(--radius-s);
  box-shadow: var(--box-shadow);
}

.booking-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  color: var(--black);
}

#booking-date {
  flex-grow: 1;
  text-align: right;
  color: var(--dark-grey);
}

.delete-icon img {
  max-height: 1.5rem;
}

#hr {
  border: none;
  outline: 1px solid var(--grey);
}

.booking-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.unit-info {
  border-radius: var(--radius-s);
  color: var(--black);
  padding: 0.5rem;
  background-color: var(--grey);
}

.booking-map {
  display: grid;
}

.booking-map iframe {
  width: 100%;
  border-radius: var(--radius-s);
}

.else {
  display: grid;
  gap: 0.5rem;
  text-align: center;
}

.else h4 {
  font-size: 2.5ch;
  color: var(--red);
}

.else p {
  color: var(--black);
}

.else p a {
  color: var(--blue);
}
