.footer,
.links,
.user,
.login {
  display: none;
}

.form {
  padding: 2rem;
  display: grid;
  place-items: center;
  gap: 2rem;
}

.form > h4 {
  color: var(--other-dark-blue);
  font-size: 4ch;
}

.box {
  display: grid;
  gap: 0.5rem;
}

.box p {
  color: var(--black);
}

.box a {
  color: var(--blue);
  text-align: center;
}

form {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 40vw;
  gap: 1rem;
  background-color: var(--white);
  border-radius: var(--radius-s);
  box-shadow: var(--box-shadow);
}

label {
  color: var(--other-dark-blue);
}

.extend {
  grid-column: 1/3;
}
