.footer,
.user,
.links,
.login {
  display: none;
}

.logo {
  max-height: 3.5rem;
  margin-top: 0;
}

body {
  background-color: #010079;
}

.form {
  padding: 4rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.form h4 {
  color: white;
  font-family: var(--font-1);
  font-size: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.box p {
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 18px;
}

.box a {
  color: red;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form {
  max-width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
}

label {
  color: whitesmoke;
  font-family: var(--font);
}

input {
  padding: 15px;
  border-radius: 3px;
  border: none;
  background-color: whitesmoke;
  outline: 2px solid #212121;
  color: black;
  font-size: 18px;
  min-width: 28vw;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
  outline: 1px solid grey;
  letter-spacing: 1px;
}

input:focus {
  outline: 2px solid var(--red);
}

::placeholder {
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  color: grey;
  letter-spacing: 1px;
}

form > .btn {
  margin-top: 20px;
  position: relative;
  font-family: system-ui;
  padding: 10px;
  border-radius: 3px;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
}

.button--text {
  font-size: 16px;
  transition: all 0.2s;
}

.btn--loading .button--text {
  visibility: hidden;
  opacity: 0;
}

.btn--loading::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
