.footer,
.links,
.user,
.login {
  display: none;
}

body {
  background-color: var(--dark-blue);
}

.form {
  padding: 2rem;
  display: grid;
  place-items: center;
  gap: 4rem;
}

.form > h4 {
  color: white;
  font-size: 4ch;
}

.box {
  display: grid;
  gap: 0.5rem;
}

.box p {
  color: white;
}

.box a {
  color: var(--red);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 40vw;
  gap: 2rem;
}

.extend {
  grid-column: 1/3;
}
