#dashboards button {
  min-width: 100%;
}

.else {
  margin-block: 1rem;
  color: var(--red);
  text-align: center;
}

.tenant-info {
  margin-top: 1rem;
  display: flex;
  align-items: start;
  gap: 1rem;
}

.tenant-profile-img {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  border-radius: var(--radius);
  background-color: var(--dark-blue);
}

.tenant-extra {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

#chat button {
  min-width: 100%;
}

#modalbtn {
  background-color: var(--red);
}

.tenant-profile img {
  max-width: 10rem;
  aspect-ratio: 1/1;
}

.tenant-details-info {
  display: grid;
  gap: 1rem;
  flex-grow: 1;
}

.tenant-details-box {
  margin-block: 1rem;
  display: grid;
  gap: 0.5rem;
}

.tenant-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status {
  margin-left: 1rem;
}

.assigned {
  color: var(--light-green);
}

.not-assigned {
  color: var(--red);
}

.accordion {
  background-color: var(--page-header-bgColor);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 1rem;
  color: var(--white);
  position: relative;
}

.panel {
  background-color: var(--page-header-bgColor-hover);
  border-bottom-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 0 1rem;
  max-height: 0;
  min-width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel hr {
  background-color: var(--dark-grey);
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
}

.image img {
  max-height: 5rem;
}

.text {
  flex-grow: 1;
}

table {
  width: 100%;
}

td,
th {
  color: var(--grey);
  text-align: left;
}

.unit-assign {
  display: grid;
  gap: 1rem;
  margin-block: 1rem;
}

.unit-assign p {
  color: var(--dark-grey);
}

.unit-assign form {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
}

.unit-assign form .input {
  flex-grow: 1;
}

.info {
  margin-block: 1rem;
  display: grid;
  gap: 0.6rem;
  max-height: 24rem;
  overflow: auto;
}

.complaint {
  padding: 1rem;
  background-color: var(--page-header-bgColor);
  border-radius: var(--radius);
  position: relative;
}

.complaint p {
  color: var(--grey);
}

.tenant-rent-info .accordion span {
  background-color: var(--red);
  border-radius: var(--radius-l);
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  color: var(--white);
}

#paid-rent {
  background-color: var(--light-green);
}

#rent-info {
  background-color: var(--red);
}

.invoice-status {
  border-radius: var(--radius-l);
  padding: 0.2rem 0.5rem;
  font-size: 1.5ch;
}

.active-invc {
  background-color: var(--blue);
}

.cleared {
  background-color: var(--light-green);
}

.invalid {
  background-color: var(--red);
}

.rent-info {
  margin-block: 1rem;
  display: grid;
  gap: 0.6rem;
}

.invoice-details {
  padding: 0.8rem;
  background-color: var(--other-dark-blue);
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  position: fixed;
  display: none;
  place-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-content {
  background-color: var(--other-dark-blue);
  max-width: 50%;
  width: 50%;
  border-radius: var(--radius);
  overflow: hidden;
}

.modal-header {
  padding: 0.2rem 1rem;
  text-align: right;
  background-color: var(--page-content-bgColor);
}

.closemodal {
  color: var(--red);
  font-size: 4ch;
  cursor: pointer;
}

.modal-body {
  padding: 2rem;
  color: var(--white);
}

.modal-body strong {
  color: var(--red);
}

.actions {
  background-color: var(--dark-blue);
  padding: 1rem;
  border-radius: var(--radius);
}

.actions ul {
  margin: 0.8rem 1rem 0;
  color: var(--dark-grey);
  display: grid;
  gap: 0.5rem;
}

.modal-footer {
  display: grid;
  background-color: var(--page-content-bgColor);
}

.modal-footer a {
  text-decoration: none;
}

.modal-footer button {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --dark-blue: #fff;
    --other-dark-blue: whitesmoke;
    --page-header-bgColor: #e5e5e5;
    --page-header-bgColor-hover: #e0e0e0;
    --page-content-bgColor: #f9f9f9;
    --page-content-txtColor: #212121;
    --white: #212121;
    --black: #000;
    --light-blue: #00b8eb;
    --grey: #686767;
    --dark-grey: #444444;
    --shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
  }

  button,
  .tenant-unit-assigned,
  .tenant-unit-unassigned,
  .occupation {
    color: var(--dark-blue);
  }

  .tablinks,
  #dashboards button,
  .dropdown-btn {
    color: var(--black);
  }
}
