{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tenant_login.css') }}">
{% endblock %}

{% block title %}
PMS | Admin Login
{% endblock %}

{% block body %}
<div class="form">
  <h4>Admin Login</h4>
  <form method="POST">
    {{ form.csrf_token }}
    <div class="input">
      {{ form.admin_id.label }}
      {{ form.admin_id(placeholder="Admin ID") }}
    </div>
    <div class="input">
      {{ form.password.label }}
      {{ form.password(placeholder="Password") }} <br>
    </div>
    <button class="btn" type="submit">
      <span class="button--text">SIGN IN</span>
    </button>
  </form>
</div>

<script src="{{ url_for('static', filename='js/signin.js') }}"></script>
{% endblock %}
