<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/bootstrap.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Admin Dashboard</title>
  </head>

  <body>
    <div class="side-nav">
      <div class="profile" onclick="openView(event, 'profile')">
        <img src="{{ url_for('static', filename='css/Images/profile.png') }}" alt="profile image">
        <div class="profile-info">
          <p>Admin</p>
        </div>
        <div class="account-type">
          Admin
        </div>
      </div>
      <div class="main-navigation">
        <h4 id="nav-title">Main</h4>
        <button class="tablinks" onclick="openView(event, 'dashboard')" id="defaultOpen">
          <img src="{{ url_for('static', filename='css/Images/dashboard.png') }}" alt="dashboard">
          Dashboard
        </button>
        <button class="tablinks" onclick="openView(event, 'landlords')">
          <img src="{{ url_for('static', filename='css/Images/man.png') }}" alt="tenants">
          Landlords
        </button>
        <button class="tablinks" onclick="openView(event, 'properties')">
          <img src="{{ url_for('static', filename='css/Images/building.png') }}" alt="property">
          Properties
        </button>
        <button class="tablinks" onclick="openView(event, 'tenants')">
          <img src="{{ url_for('static', filename='css/Images/group.png') }}" alt="tenants">
          Tenants
        </button>
        <button class="tablinks" onclick="openView(event, 'units')">
          <img src="{{ url_for('static', filename='css/Images/home.png') }}" alt="units">
          Units
        </button>
        <button class="tablinks" onclick="openView(event, 'complaints')">
          <img src="{{ url_for('static', filename='css/Images/feedback.png') }}" alt="rent">
          Complaints
        </button>
        <button class="tablinks" onclick="openView(event, 'reservations')">
          <img src="{{ url_for('static', filename='css/Images/group.png') }}" alt="tenants">
          Reservations
        </button>
        <button class="tablinks" onclick="openView(event, 'extra')">
          <img src="{{ url_for('static', filename='css/Images/extra.png') }}" alt="extra">
          Extras
        </button>
      </div>
      <div class="logout">
        <a href="{{ url_for('landlord.landlord_logout') }}">
          <button>
            <img src="{{ url_for('static', filename='css/Images/logout.png') }}" alt="logout">
            Logout
          </button>
        </a>
      </div>
    </div>
    <div class="content-area">
      <div class="notification-area">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="tops">
          {% for category, message in messages %}
          <div class="alert alert-{{category}}">
            <div class="side"></div>
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
      </div>
      <div id="dashboard" class="tabcontent">
        <h4>Dashboard</h4>
        <p id="more-info">This tab shows all the general information</p>
        <div class="dashboard">
          <div class="users-data">
            <div class="users landlord">
              <h4>Landlords</h4>
              <div class="users-info">
                <p>{{ landlords|count }}</p>
                <span>Landlords</span>
              </div>
            </div>
            <div class="users tenant">
              <h4>Tenants</h4>
              <div class="users-info">
                <p>{{ tenants|count }}</p>
                <span>Tenants</span>
              </div>
            </div>
            <div class="users normal">
              <h4>Normal Users</h4>
              <div class="users-info">
                <p>{{ users|count }}</p>
                <span>Users</span>
              </div>
            </div>
            <div class="users extra">
              <h4>Extras</h4>
              <div class="users-info">
                <p>{{ extras|count }}</p>
                <span>Extras</span>
              </div>
            </div>
            <div class="users unit">
              <h4>Properties</h4>
              <div class="users-info">
                <p>{{ units|count }}</p>
                <span>Properties</span>
              </div>
            </div>
            <div class="users reservations">
              <h4>Reservations</h4>
              <div class="users-info">
                <p>{{ reservations|count }}</p>
                <span>Reservations</span>
              </div>
            </div>
          </div>
          <div class="other-information">
            <div class="featured-info">
              <h4>Featured Properties</h4>
              <hr>
              <div class="featured-details">
                {% for property in properties %}
                <div class="featured">
                  <div class="featured-data">
                    <h4>{{ property.name }}</h4>
                    <span>{{ property.Type }}</span>
                  </div>
                  <div id="featured">
                    <p>
                      {{ property.tenants|count }}
                      <span>Tenants</span>
                    </p>
                    <p>
                      {{ property.unit|count }}
                      <span>Units</span>
                    </p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="transaction-info">
              <h4>Transaction Details</h4>
              <hr>
              <div class="transaction-box">
                <div class="box box_1">
                  <h4>{{ transactions|count }}</h4>
                  <p>Total <br> Transactions</p>
                </div>
                <div class="box box_2">
                  <h4>
                    {% set mpesa_transactions = [] %}
                    {% for mpesa in transactions if mpesa.origin == "Mpesa" %}
                    {{ mpesa_transactions.append(mpesa) or "" }}
                    {% endfor %}
                    {{ mpesa_transactions|count }}
                  </h4>
                  <p>Bank <br> Transactions</p>
                </div>
                <div class="box box_3">
                  <h4>
                    {% set bank_transactions = [] %}
                    {% for bank in transactions if bank.origin == "Bank" %}
                    {{ bank_transactions.append(bank) or "" }}
                    {% endfor %}
                    {{ bank_transactions|count }}
                  </h4>
                  <p>Mpesa <br> Transactions</p>
                </div>
              </div>
            </div>
            <div class="amount-transacted">
              <h4>Total Amount Transacted</h4>
              <p>
                {% set invoice_amount = [] %}
                {% for invoice in invoices %}
                {{ invoice_amount.append(invoice.amount) or "" }}
                {% endfor %}
                {{ "Ksh {:,}".format(invoice_amount|sum) }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="landlords" class="tabcontent">
        <h4>Landlords ({{ landlords|count }})</h4>
        <p id="more-info">This shows all landlords in alphabetical order</p>
        <form id="search-tenant" action="#">
          <input type="text" name="search-tenant" spellcheck="false" id="landlord-search"
            placeholder="Search for any Landlord">
        </form>
        <div class="landlords">
          <table id="table">
            <tr id="tr">
              <th>Full Names</th>
              <th>Landlord ID</th>
              <th>Username</th>
              <th>Email Address</th>
              <th>Phone Number</th>
              <th>Date Registered</th>
              <th>Property Owned</th>
              <th>Tenants Assigned</th>
            </tr>
            {% set tenant_count = [] %}
            {% set property_count = [] %}
            {% for landlord in landlords|sort(attribute="first_name") %}
            <tr id="landlords" class="accordion">
              <td>{{ landlord.first_name }} {{ landlord.second_name }} {{ landlord.last_name }}</td>
              <td>{{ landlord.landlord_id }}</td>
              <td>{{ landlord.username }}</td>
              <td>{{ landlord.email }}</td>
              <td>0{{ landlord.phone }}</td>
              <td>{{ landlord.date.strftime("%d/%m/%Y") }}</td>
              <td id="td">{{ landlord.Property|count}}</td>
              <td id="td">{{ landlord.tenant|count }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div id="properties" class="tabcontent">
        <h4>Properties ({{ properties|count }})</h4>
        <p id="more-info">This shows all properties from latest to earliest</p>
        <form id="search-tenant">
          <input type="text" spellcheck="false" name="search-tenant" id="property-search"
            placeholder="Search for any Property">
        </form>
        <div class="properties">
          <table id="table">
            <tr>
              <th>Property ID</th>
              <th>Property Name</th>
              <th>Property Address</th>
              <th>Property Owner</th>
              <th>Property Floors</th>
              <th>Property Type</th>
              <th>Date Registered</th>
              <th>Tenants</th>
              <th>Units</th>
            </tr>
            {% set tenants_count = [] %}
            {% set unit_count = [] %}
            {% for property in properties|sort(attribute="date", reverse=true) %}
            <tr class="accordion">
              <td>{{ property.property_id }}</td>
              <td>{{ property.name }}</td>
              <td>{{ property.address }}, {{ property.address2 }}</td>
              <td>
                {% for owner in landlords if owner.id == property.owner %}
                {{ owner.first_name }} {{ owner.second_name }}
                {% endfor %}
              </td>
              <td>{{ property.floors }}</td>
              <td>{{ property.Type }}</td>
              <td>{{ property.date.strftime("%d/%m/%Y") }}</td>
              <td>{{ property.tenants|count }}</td>
              <td>{{ property.unit|count }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div id="complaints" class="tabcontent">
        <h4>Complaints</h4>
      </div>
      <div id="reservations" class="tabcontent">
        <h4>Reservations</h4>
      </div>
      <div id="extra" class="tabcontent">
        <div class="extra-modal">
          <div class="modal-content">
            <div class="modal-header">
              <span id="closes">&times;</span>
            </div>
            <div class="modal-body">
              <form method="POST">
                {{ form.hidden_tag() }}
                <div class="input">
                  {{ form.first_name.label }}
                  {{ form.first_name(placeholder="First Name") }}
                </div>
                <div class="input">
                  {{ form.last_name.label }}
                  {{ form.last_name(placeholder="Last Name") }}
                </div>
                <div class="input">
                  {{ form.age.label }}
                  {{ form.age(placeholder="Age") }}
                </div>
                <div class="input">
                  {{ form.phone_number.label }}
                  {{ form.phone_number(placeholder="Phone Number") }}
                </div>
                <div class="input inputs">
                  {{ form.email_address.label }}
                  {{ form.email_address(placeholder="Email Address") }}
                </div>
                <div class="input">
                  {{ form.title.label }}
                  {{ form.title(placeholder="Title / Position") }}
                </div>
                <div class="input">
                  {{ form.cost.label }}
                  {{ form.cost(placeholder="Cost / hr") }}
                </div>
                <button type="submit">ADD</button>
              </form>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
        <h4>
          Extras ({{ extras|count }})
          <button id="extras">Add New Extra</button>
        </h4>
        <p id="more-info">Manage all extra personell</p>
        <div class="extras">
          {% if extras %}
          <div class="extras-details">
            <p>{{ extras }}</p>
          </div>
          {% else %}
          <h4 class="else">No Extras</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </body>

</html>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
