<!DOCTYPE html>
<html lang="en">

  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>PMS | {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <header class="nav">
    <a id="logo" href="{{ url_for('main.index') }}">
      <h1>PMS</h1>
    </a>
    {% block logo %} {% endblock %}
    <div class="links">
      <a id="link" href="#">About Us</a>
      <a id="link" href="#">Services</a>
      <div class="dropdown">
        <p id="link">Client Portals
          <i class="fa fa-caret-down"></i>
        </p>
        <div class="dropdown-content">
          <a id="link" href="{{ url_for('auth.landlord_login') }}">Landlord Portal</a>
          <a id="link" href="{{ url_for('auth.tenant_login') }}">Tenant Portal</a>
          <a id="link" href="{{ url_for('auth.admin_login') }}">Admin Portal</a>
        </div>
      </div>
      <a id="link" href="{{ url_for('main.properties') }}">Properties</a>
      <a id="link" href="#">Contact</a>
      {% block content %}{% endblock %}
    </div>
    {% if current_user.is_authenticated %}
    <div class="login">
      <p id="login">Welcome, <b>{{ current_user.first_name }} {{ current_user.last_name }}</b></p>
      <div class="profile">
        <p>My Profile</p>
        <a id="reservations" href="{{ url_for('main.reservations') }}">
          <p>Reservations</p>
        </a>
        <a id="logout" href="{{ url_for('auth.logout') }}">
          <p>Logout</p>
        </a>
      </div>
    </div>
    {% else %}
    <div class="user">
      <a href="{{ url_for('auth.signup') }}">
        <button>Sign Up</button>
      </a>
      <a href="{{ url_for('auth.signin') }}">
        <button>Sign In</button>
      </a>
    </div>
    {% endif %}
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="tops">
    {% for category, message in messages %}
    <div class="alert alert-{{category}}">
      <p id="message">{{ message }}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  <body id="body">
    {% block body %}
    {% endblock %}
    <footer class="footer">
      <p>Copyright &copy; PMS 2024. All Rights Reserved</p>
    </footer>
  </body>

  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</html>
