{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landlord.css') }}">
{% endblock %}

{% block title %}
PMS | Landlord Portal
{% endblock %}

{% block content %}
{% endblock %}

{% block body %}
<div class="container">
  <h4>Create a landlord account</h4>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="input">
      {{ form.first_name.label }}
      {{ form.first_name(placeholder="Enter First Name") }}<br>
    </div>
    <div class="input">
      {{ form.last_name.label }}
      {{ form.last_name(placeholder="Enter Last Name") }}<br>
    </div>
    <div class="input">
      {{ form.email_address.label }}
      {{ form.email_address(placeholder="Enter Email Address") }}<br>
    </div>
    <div class="input">
      {{ form.phone_number.label }}
      {{ form.phone_number(placeholder="Enter Phone Number")}}<br>
    </div>
    <div class="input">
      {{ form.password.label }}
      {{ form.password(placeholder="Enter Password")}}<br>
    </div>
    <div class="input">
      {{ form.password1.label }}
      {{ form.password1(placeholder="Confirm Password") }}<br>
    </div>
    <button class="btn" type="submit">
      <span class="button--text">Create Account</span>
    </button>
  </form>
  <div class="box">
    <p>Already have an account?</p>
    <a href="{{ url_for('auth.landlord_login') }}">Login</a>
  </div>
</div>

<script src="{{ url_for('static', filename='js/landlord.js') }}"></script>
{% endblock %}
