{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
PMS | Chat
{% endblock %}

{% block logo %}
{% if current_user.is_authenticated and current_user.account_type == "Landlord" %}
<a id="logos" href="{{ url_for('landlord.landlord_dashboard') }}">
  <img class="logo" src="{{ url_for('static', filename='Images/logo.png') }}" alt="logo">
  <span id="account">{{ current_user.account_type }}</span>
</a>
<p id="chatting-with">You are chatting with
  <a href="{{ url_for('landlord.tenant_details', tenant_id=tenant.id) }}">
    <b>{{ tenant.first_name }} {{ tenant.second_name }}</b>
  </a>
</p>
{% endif %}
{% if current_user.is_authenticated and current_user.account_type == "Tenant" %}
<a id="logos" href="{{ url_for('tenant.tenant_dashboard') }}">
  <img class="logo" src="{{ url_for('static', filename='Images/logo.png') }}" alt="logo">
  <span id="account">{{ current_user.account_type }}</span>
</a>
<p id="chatting-with">You are chatting with
  <b>{{ landlord.first_name }} {{ landlord.second_name }}</b>
</p>
{% endif %}
{% endblock %}

{% block body %}
<div class="message">
  <div class="texts">
    {% for message in messages %}
    <div class="sample">
      {% if message.author != current_user.account_type %}
      <p class="{{ message.author }}">
        <span id="from">{{ message.author }}</span>
        {{ message.info }}
        <span id="dates">{{ message.date.strftime("%b %d - %I:%M %p") }}</span>
      </p>
      {% elif message.author == current_user.account_type %}
      <p id="you">
        <span id="from">You</span>
        {{ message.info }}
        <span id="dates">{{ message.date.strftime("%b %d - %I:%M %p") }}</span>
      </p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% if current_user.account_type == "Landlord" %}
  <form action="{{ url_for('landlord.send_message', tenant_id=tenant.id) }}" , method="post">
    <div class="input">
      <input type="text" name="message" required spellcheck="false" placeholder="Send Message">
      <button type="submit">Send</button>
    </div>
  </form>
  {% elif current_user.account_type == "Tenant" %}
  <form action="{{ url_for('tenant.send_message', landlord_id=landlord.id) }}" , method="post">
    <div class="input">
      <input type="text" name="message" required spellcheck="false" placeholder="Send Message">
      <button type="submit">Send</button>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}
