{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/properties.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
PMS | Properties
{% endblock %}

{% block logo %}
<a id="logos" class="logz" href="{{ url_for('main.index') }}">
  <img class="logos" src="{{ url_for('static', filename='Images/logo-white.png') }}" alt="logo">
  <!-- {% if current_user.is_authenticated %}
  <span id="account">{{ current_user.account_type }}</span>
  {% endif %} -->
</a>
{% endblock %}

{% block content %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="overlay">
    <h4>View latest properties <br> in the market</h4>
  </div>
</div>
<div loading="lazy" class="container-3" id="properties">
  <div class="box">
    <h4>Find Your Dream Home</h4>
    <hr id="hr">
    <div class="form">
      <form id="form1" action="{{ url_for('main.search_property') }}" method="post">
        <input id="search-property" required type="text" name="search" spellcheck="false"
          placeholder="Search for any property by type, location, price">
        <button type="submit">Search</button>
      </form>
      <span id="live">Live search</span>
      <span id="lives">Normal search</span>
      <form id="form2">
        <input id="property-search" type="text" name="search" required spellcheck="false"
          placeholder="Live Search for any property by type, location, price">
      </form>
    </div>
  </div>
  {% set available_units = [] %}
  {% for unit in units if unit.tenant == none and unit.reserved == "False" %}
  {{ available_units.append(unit) or "" }}
  {% endfor %}
  {% if available_units %}
  <div id="all-units" class="all-units">
    {% for unit in available_units
      |sort(attribute="date", reverse=True) if unit.tenant == None and unit.reserved == "False" %}
    <div id="units" class="units">
      {% if unit.date.strftime("%d/%m/%Y") == today_time %}
      <span id="new">New to market</span>
      {% endif %}
      {% for property in properties or propertiez if property.id == unit.Property %}
      {% if property.Type == "Apartment" %}
      <img loading="lazy" src="{{ url_for('static', filename='Images/inside_apartment.jpg') }}" alt="apartment">
      {% else %}
      <img loading="lazy" src="{{ url_for('static', filename='Images/inside_office.jpg') }}" alt="office">
      {% endif %}
      {% endfor %}
      <div id="unit-info" class="unit-info">
        <h4>
          {% for property in properties or propertiez if property.id == unit.Property %}
          {% if property.Type == "Office" %}
          {{ unit.Type }}
          {% else %}
          {{ unit.Type }} {{ property.Type }}
          {% endif %}
          {% endfor %}
          {{ unit.name }}
        </h4>
        <span id="address">
          {% for property in properties or propertiez if property.id == unit.Property %}
          {{ property.address }}, {{ property.address2 }}
          {% endfor %}
        </span>
        <table id="table">
          <tr>
            <th>
              <img src="{{ url_for('static', filename='Images/area.png') }}" alt="square meters">
            </th>
            <td>{{ unit.living_space }} SQM</td>
          </tr>
          <tr>
            <th>
              <img src="{{ url_for('static', filename='Images/beds.png') }}" alt="bedrooms">
            </th>
            {% for property in properties or propertiez if property.id == unit.Property %}
            {% if property.Type == "Apartment" and unit.Type != "Bedsitter" %}
            <td>{{ unit.bedrooms }} Bedrooms</td>
            {% elif unit.Type == "Bedsitter" %}
            <td>1 Room</td>
            {% elif property.Type == "Office" %}
            <td>Furniture Available</td>
            {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <th>
              <img src="{{ url_for('static', filename='Images/bathtub.png') }}" alt="bathrooms">
            </th>
            {% for property in properties or propertiez if property.id == unit.Property %}
            {% if property.Type == "Apartment" %}
            <td>{{ unit.bathrooms }} Bathrooms</td>
            {% elif property.Type == "Office" %}
            <td>Amenities Available</td>
            {% endif %}
            {% endfor %}
          </tr>
        </table>
        <hr>
        <div class="rent">
          <p><span>{{ "Ksh {:,}".format(unit.rent_amount) }}</span>
            {% for property in properties or propertiez if unit.Property == property.id %}
            {% if property.status == "Rent" %}
            / Month
            {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
      <a href="{{ url_for('main.unit_details', unit_id=unit.id) }}">
        <button>View Property</button>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="no-units">
    <h4>No vacant properties at the moment. We're working on adding more properties. <br> Please come by later</h4>
  </div>
  {% endif %}
</div>

<script src="{{ url_for('static', filename='js/properties.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% endblock %}
