{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tenant_login.css') }}">
{% endblock %}

{% block title %}
PMS | Tenant Login
{% endblock %}

{% block body %}
<div class="form">
  <h4>Confirm Your Identity</h4>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="input">
      {{ form.tenant_id.label }}
      {{ form.tenant_id(placeholder="Tenant ID") }}
    </div>
    <div class="input">
      {{ form.password.label }}
      {{ form.password(placeholder="Password") }} <br>
    </div>
    <button class="btn" type="submit">
      <span class="button--text">SIGN IN</span>
    </button>
  </form>
  <div class="box">
    <p>Don't have an account, proceed to Registration</p>
    <a href="{{ url_for('tenant.tenant') }}">Register</a>
  </div>
</div>

<script src="{{ url_for('static', filename='js/signin.js') }}"></script>
{% endblock %}
