{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block title %}
Admin Login
{% endblock %}

{% block body %}
<div class="form">
  <h4>Admin Login</h4>
  <form method="POST">
    {{ form.csrf_token }}
    <div class="input">
      {{ form.admin_id.label }}
      {{ form.admin_id(placeholder="Eg. johndoe@gmail.com") }}
    </div>
    <div class="input">
      {{ form.password.label }}
      {{ form.password(placeholder="Password") }}
    </div>
    <button class="btn" type="submit">
      <span class="button--text">Login</span>
    </button>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}
