{% extends 'base_landlord.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/extra_service.css') }}">
{% endblock %}

{% block title %}
Maintenance
{% endblock %}

{% block nav %}
<button class="tablinks active" onclick="openView(event, 'maintenance')">
  <i class="fas fa-toolbox"></i>
  Maintenance
</button>
{% if current_property %}
<a id="{{ current_property.id }}"
  href="{{ url_for('landlord.property_information', property_id=current_property.unique_id) }}">
  <button class="current_property">
    <i class="fas fa-building"></i>
    <span id="current-property">{{ current_property.name }}</span>
  </button>
</a>
{% endif %}
{% endblock %}

{% block body %}
<div id="maintenance" class="tabcontent active">
  <div class="tab-heading">
    <h4 id="dash">Maintenance - {{ extra_role }}</h4>
  </div>
  <div class="maintenance-box">
    <div class="maintenance-form-box">
      <form action="{{ url_for('landlord.deploy_extra', property_id=current_property.unique_id) }}" method="post">
        <div class="input">
          <p id="more-info">Select the unit that requires maintenance</p>
          <select name="unit" id="">
            {% for unit in current_property.unit %}
            <option value="{{ unit.id }}">{{ unit.name }} - {{ unit.unit_type }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input">
          <p id="more-info">Select one of the available {{ extra_role }}'s</p>
          <select name="extra" id="">
            {% for extra in extras %}
            <option value="{{ extra.id }}">{{ extra.first_name }} {{ extra.last_name }} |
              {{ "Ksh {:,}".format(extra.rate) }}/hr
            </option>
            {% endfor %}
          </select>
        </div>
        <button class="btn" type="submit">
          <span class="button--text">Submit</span>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/extra_service.js') }}"></script>
<script>
  let property = document.getElementById("properties")
  let unit = document.getElementById("units")

  property.onchange = () => {
    prop = property.value
    fetch("/extra-services/" + prop)
      .then(response => {
        response.json()
          .then(data => {
            let optionHTML = ''
            for (let unit of data.units) {
              optionHTML += '<option value="' + unit.id + '">' + unit.name + ' - ' + unit.type + '</option>'
            }
            unit.innerHTML = optionHTML
          })
      })
  }
</script>
<script>
  const extra = document.querySelectorAll(".card")
  extra.forEach(p => {
    p.addEventListener("click", () => {
      localStorage.setItem('extra', p.dataset.extra)
    })
  })
  function selectProperty() {
    const property = document.querySelector("#properties").value
    const unit = document.querySelector("#units").value
    if (property == "" || unit == "") {
      alert("No empty fields allowed")
    }
    else {
      $.ajax({
        url: "/extra-service/" + `${localStorage.getItem('extra')}`,
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          "property": property,
          "unit": unit,
          "extra": localStorage.getItem('extra')
        })
      })
      checkExtra()
    }
  }
  function checkExtra() {
    fetch("/extra-occupancy/" + localStorage.getItem("extra"))
      .then(response => {
        response.json()
          .then(data => {
            if (data.messages) {
              alert(`Extra ${data.messages.fname} ${data.messages.lname} has been deployed successfully`)
              window.location.replace("/Landlord_dashboard")
            }
            else if (data.message) {
              alert(`Extra ${data.message.fname} ${data.message.lname} is already on site undertaking maintenance. Select another extra`)
              window.location.replace("/extra-service/electrician")
            }
          })
      })
  }
</script>
{% endblock %}
