{% extends 'base_landlord.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/property_dashboard.css') }}">
{% endblock %}

{% block title %}
Property Dashboard | {{ propertiez.name }}
{% endblock %}

{% block nav %}
<a id="dashboard" href="{{ url_for('landlord.landlord_dashboard') }}">
  <button>
    <img src="{{ url_for('static', filename='Images/dashboard.png') }}" alt="dashboard">
    Dashboard
  </button>
</a>
<button class="dropdown-btn">
  <img src="{{ url_for('static', filename='Images/building.png') }}" alt="property">
  My Properties
  <i class='fa fa-angle-down'></i>
</button>
<div class="drop-down-container">
  {% if properties|count > 1 %}
  {% for property in properties if property.unique_id == propertiez.unique_id %}
  <a class="tablinks" onclick="openView(event, '{{ propertiez.name}}')">{{ property.name }}</a>
  {% endfor %}
  {% for property in properties if property.unique_id != propertiez.unique_id %}
  <a id="other" href="{{ url_for('landlord.property_information', property_id=property.unique_id) }}" class="tablinks"
    onclick="openView(event, '{{ property.name }}')">{{ property.name }}</a>
  {% endfor %}
  {% else %}
  <a class="tablinks" onclick="openView(event, '{{ propertiez.name }}')">{{ propertiez.name }}</a>
  {% endif %}
</div>
<button class="tablinks" onclick="openView(event, 'tenants')">
  <img src="{{ url_for('static', filename='Images/group.png') }}" alt="tenants">
  Tenants
</button>
<button class="tablinks" onclick="openView(event, 'units')">
  <img src="{{ url_for('static', filename='Images/home.png') }}" alt="units">
  Units
</button>
<button class="tablinks comp" onclick="openView(event, 'complaints')">
  <img src="{{ url_for('static', filename='Images/feedback.png') }}" alt="complaints">
  Complaints
</button>
<button class="tablinks" onclick="openView(event, 'options')">
  <img src="{{ url_for('static', filename='Images/options.png') }}" alt="options">
  Options
</button>
{% endblock %}

{% block body %}
<div id="{{ propertiez.name }}" class="tabcontent active">
  <div id="property-heading">
    <h4 id="dash">
      {{ propertiez.name }}
      <span title="Property ID" id="prop_id">- {{ propertiez.unique_id }}</span>
    </h4>
    <div class="property-actions">
      <a href="{{ url_for('landlord.edit_property', property_id=propertiez.unique_id) }}">
        <img src="{{ url_for('static', filename='Images/edit.png') }}" alt="">
      </a>
      <p id="modalbtn">
        <img src="{{ url_for('static', filename='Images/delete.png') }}" alt="">
      </p>
    </div>
    <div class="property-btns">
      <a href="{{ url_for('landlord.add_property') }}">
        <button id="add-property">Add New Property</button>
      </a>
      <a href="{{ url_for('landlord.add_unit', property_id=propertiez.unique_id) }}">
        <button id="add-property">Add Unit</button>
      </a>
    </div>
  </div>
  <div class="dash-information">
    {% if propertiez %}
    <div class="property-summary">
      <div class="property-info">
        <div class="property-details">
          <span>Property Name</span>
          <p>{{ propertiez.name }}</p>
        </div>
        <div class="property-details">
          <span>Property Address</span>
          <p>{{ propertiez.county }}, {{ propertiez.city }}</p>
        </div>
        <div class="property-details">
          <span>Property Type</span>
          <p>{{ propertiez.properties.name }}</p>
        </div>
        <div class="property-details">
          <span>Property Floors</span>
          <p>{{ propertiez.property_floors }} Floors</p>
        </div>
      </div>
      <div class="property-img">
        <img id="apartment" src="{{ url_for('static', filename='Images/3d apartment.png') }}" alt="apartment">
      </div>
      <div class="property-stats">
        <div class="prop-tenants">
          <div class="extra-info">
            {% set occupied_tenant = [] %}
            {% for num in propertiez.unit if num.tenant != None %}
            {{ occupied_tenant.append(num) or ""}}
            {% endfor %}
            <p><span>{{ occupied_tenant|count }}</span> Assigned</p>
            {% set diff = propertiez.tenant|count - occupied_tenant|count %}
            <p><span>{{ diff }}</span> Unassigned</p>
          </div>
          <div class="tenant-info">
            <p><span>{{ propertiez.tenant|count }}</span>
              {% if propertiez.tenant|count == 1 %}
              Tenant
              {% else %}
              Tenants
              {% endif %}
            </p>
          </div>
        </div>
        <div class="prop-units">
          <div class="extra-info">
            {% set occupied_tenant = [] %}
            {% for num in propertiez.unit if num.tenant != None %}
            {{ occupied_tenant.append(num) or ""}}
            {% endfor %}
            <p><span>{{ occupied_tenant|count }}</span> Occupied</p>
            {% set diff = [] %}
            {% for num in propertiez.unit if num.tenant == None %}
            {{ diff.append(num) or ""}}
            {% endfor %}
            <p><span>{{ diff|count }}</span> Vacant</p>
            {% set reserved_unit = [] %}
            {% for x in propertiez.unit if x.reserved == 'True' %}
            {{ reserved_unit.append(x) or ""}}
            {% endfor %}
            <p id="extra-reserved" onclick="openView(event, 'reservations')">
              <span>{{reserved_unit|count }}</span>
              Reserved
            </p>
          </div>
          <div class="unit-info">
            <p><span>{{ propertiez.unit|count }}</span>
              {% if propertiez.unit|count == 1 %}
              Unit
              {% else %}
              Units
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="rent-stats-box">
      <h4 id="rent-heading">
        Rent Information
        <span>{{ this_month.strftime("%B %Y") }}</span>
      </h4>
      <div class="rent-stats">
        <div class="rent-stat expected">
          {% set occupied_units = [] %}
          {% set expected_rent = [] %}
          {% for unit in units if unit.tenant %}
          {{ occupied_units.append(unit) or "" }}
          {{ expected_rent.append(unit.rent_amount) or "" }}
          {% endfor %}
          <p>Rent Expected</p>
          <div class="rent-stat-info">
            <h4 id="expected">{{ "Ksh {:,}".format(expected_rent|sum) }}</h4>
            <span>{{ occupied_units|count }} Unit(s)</span>
          </div>
        </div>
        <div class="rent-stat received">
          {% set tenants_paid = [] %}
          {% set rent_paid = [] %}
          {% for tenant in tenants if tenant.invoice %}
          {% for invoice in tenant.invoice if invoice.status == "Cleared" and invoice.month_created.strftime("%m") == this_month.strftime("%m") %}
          {{ tenants_paid.append(tenant) or "" }}
          {{ rent_paid.append(invoice.amount) or "" }}
          {% endfor %}
          {% endfor %}
          <p>Rent Received</p>
          <div class="rent-stat-info">
            <h4 id="received">{{ "Ksh {:,}".format(rent_paid|sum) }}</h4>
            <span>{{ tenants_paid|count }} Tenant(s)</span>
          </div>
        </div>
        <div class="rent-stat remaining">
          {% set rent_remaining = expected_rent|sum - rent_paid|sum %}
          <p>Rent Remaining</p>
          <div class="rent-stat-info">
            <h4 id="remaining">{{ "Ksh {:,}".format(rent_remaining) }}</h4>
            <span>{{ occupied_units|count - tenants_paid|count }} Tenant(s)</span>
          </div>
        </div>
      </div>
    </div>
    <div class="payments-box">
      <div class="invoice-box">
        <h4>Invoice History</h4>
        <div class="invoices">
          {% set recent_invoices = [] %}
          {% for tenant in tenants %}
          {% for invoice in tenant.invoice %}
          {{ recent_invoices.append(invoice) or "" }}
          {% endfor %}
          {% endfor %}
          {% if recent_invoices %}
          {% for invoice in recent_invoices|sort(attribute="date_created", reverse=true) %}
          <div class="invoicez">
            <h4>#{{ invoice.unique_id }}</h4>
            {% for tenant in tenants if tenant.id == invoice.tenant %}
            <p>{{ tenant.first_name }} {{ tenant.last_name }}</p>
            {% endfor %}
            {% if invoice.status == "Cleared" %}
            <p id="invoice-date" title="Date Created">
              {{ invoice.date_closed.strftime("Closed: %d/%m/%Y at %I:%M %p") }}
            </p>
            {% else %}
            <p id="invoice-date" title="Date Created">
              {{ invoice.date_created.strftime("Created: %d/%m/%Y at %I:%M %p") }}
            </p>
            {% endif %}
            {% if invoice.status == "Active" %}
            <span class="invoice-status pending">
              Pending
            </span>
            {% elif invoice.status == "Cleared" %}
            <span class="invoice-status cleared">
              {{ invoice.status }} &check;
            </span>
            {% endif %}
          </div>
          {% endfor %}
          {% else %}
          <p class="else">No Invoices</p>
          {% endif %}
        </div>
      </div>
      <div class="transaction-box">
        <h4>Recent Transactions</h4>
        <div class="transactions">
          {% if propertiez.transaction %}
          {% for transaction in propertiez.transaction|sort(attribute="time", reverse=true) %}
          <div class="invoicez">
            <h4>#{{ transaction.unique_id }}</h4>
            {% for tenant in tenants if tenant.id == transaction.tenant %}
            <p>{{ tenant.first_name }} {{ tenant.last_name }}</p>
            {% endfor %}
            <p id="invoice-date" title="Date Created">
              {{ transaction.time.strftime("Completed on: %d/%m/%Y at %I:%M %p") }}
            </p>
            <span id="origin">{{ transaction.origin }}</span>
          </div>
          {% endfor %}
          {% else %}
          <p class="else">No Transactions</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tenants" class="tabcontent">
  <div id="tenant-heading">
    <h4 id="dash">Tenants - {{ propertiez.name }} ({{ propertiez.tenant|count }})
    </h4>
    <input spellcheck="false" required type="text" id="tenant_search" placeholder="Find tenant">
  </div>
  <p id="more-info">This shows all tenants from your property and their respective assigned units</p>
  <div id="tenant_details" class="all-tenants">
    {% for tenant in propertiez.tenant|sort(attribute="first_name") %}
    <div id="card" class="tenant-card">
      {% if tenant.unit %}
      <div class="tenant-unit-assigned">
        {% for unit in tenant.unit %}
        <p>{{ unit.name }}, {{ unit.unit_type }}</p>
        {% endfor %}
      </div>
      {% else %}
      <div class="tenant-unit-unassigned">
        <p>No Unit Assigned</p>
      </div>
      {% endif %}
      <img src="{{ url_for('static', filename='Images/man.png') }}" alt="tenant">
      <div class="tenant-details">
        <p>{{ tenant.first_name }} {{ tenant.second_name }} {{ tenant.last_name }}</p>
        <p>{{ tenant.email }}</p>
        <p>0{{ tenant.phone }}</p>
        <a href="{{ url_for('landlord.tenant_details', tenant_id=tenant.id) }}">Tenant Profile</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div id="units" class="tabcontent">
  <div id="tenant-heading">
    <h4 id="dash">Units - {{ propertiez.name }} ({{ propertiez.unit|count }})
    </h4>
    <input spellcheck="false" required type="text" id="tenant-search" placeholder="Find Unit">
  </div>
  <p id="more-info">This shows all units from your property and their status</p>
  <div id="unit_details" class="all-units">
    {% for unit in propertiez.unit|sort(attribute="unit_id") %}
    <a href="{{ url_for('landlord.upload_unit_metrics', unit_id=unit.unique_id) }}">
      <div id="cards" class="unit-card">
        {% if unit.tenant %}
        <div class="occupation unit-occupied">
          <p>Occupied</p>
        </div>
        {% elif unit.reserved == "True" %}
        <div class="occupation unit-reserved">
          <p onclick="openView(event, 'reservations')">Reserved</p>
        </div>
        {% else %}
        <div class="occupation unit-vacant">
          <p>Vacant</p>
        </div>
        {% endif %}
        <img src="{{ url_for('static', filename='Images/home.png') }}" alt="unit">
        <div class="unit-details">
          <p>{{ unit.name }}</p>
          <p>{{ unit.unit_type }}</p>
          <p>{{ unit.unit_floor }}{% if unit.unit_floor % 10 == 1 %}<sup>st</sup>
            Floor{% elif unit.unit_floor % 10 == 2 %}<sup>nd</sup>
            Floor{% elif unit.unit_floor % 10 == 3 %}<sup>rd</sup> Floor{% else %}<sup>th</sup> Floor {% endif %}</p>
          <p>{{ "Ksh {:,}".format(unit.rent_amount) }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<div id="complaints" class="tabcontent">
  <h4 id="dash">Complaints - {{ propertiez.name }} ({{ propertiez.complaint|count }})</h4>
  <p id="more-info">Complaints are grouped according to the date they were sent</p>
  <p id="more-info">Latest complaints will be placed at the top</p>
  <div id="bottom" class="complaints">
    {% if propertiez.complaint %}
    {% for complaint in all_complaints %}
    <div class="complaint-details">
      <p id="tenant">{{ complaint.time.strftime('%d %B %Y at %I:%M %p') }}</p>
      <div class="complaint-info">
        <div class="complaints-info">
          <h4>Title: {{ complaint.title }}</h4>
          <p>Message: {{ complaint.message }}</p>
        </div>
        <div class="tenant-name">
          <p id="tenant-names">
            {% for tenant in propertiez.tenant if tenant.id == complaint.tenant %}
            <a href="{{ url_for('landlord.tenant_details', tenant_id=tenant.id) }}">
              {{ tenant.first_name }} {{ tenant.last_name }},
            </a>
            {% for unit in tenant.unit %}
            {{ unit.name }} - {{ unit.unit_type }}
            {% endfor %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="else">Complaints made by your tenants will show up here</p>
    {% endif %}
  </div>
</div>
<div id="options" class="tabcontent">
  <h4 id="dash">Options - {{ propertiez.name }}</h4>
  <p id="more-info">This tab allows you to configure your property</p>
  <div class="options">
    <div class="unit-type-box">
      <h4>Add your unit types</h4>
      <p id="more-info">Eg. Bedsitter, Studio, 1 Bedroom, 2 Bedroom, 3 Bedroom, 4 Bedroom</p>
      {% if propertiez.unit_type %}
      <div class="unit-type-info">
        <h4>Added unit types</h4>
        <div class="unit-type-details">
          {% for unit_type in propertiez.unit_type %}
          <div class="unit-type">
            <p>{{ unit_type.name }}</p>
            <div class="unit-type-img">
              <a href="{{ url_for('landlord.remove_unit_type', unit_type_id=unit_type.unique_id) }}">
                <img src="{{ url_for('static', filename='images/delete.png') }}" alt="">
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <hr>
      <form action="{{ url_for('landlord.register_unit_type', property_id=propertiez.unique_id) }}" method="post">
        {{ form.csrf_token }}
        <div class="input">
          {{ form.unit_type.label }}
          {{ form.unit_type(class="name") }}
        </div>
        <button class="btn" type="submit">
          <span class="button--text">Add</span>
        </button>
      </form>
    </div>
  </div>
</div>
<div id="reservations" class="tabcontent">
  {% set booking = [] %}
  {% set expired_reservations = [] %}
  {% for bookings in propertiez.booking if bookings.status == "Active" %}
  {{ booking.append(bookings) or "" }}
  {% endfor %}
  {% for booking in propertiez.booking if booking.status == "Expired" %}
  {{ expired_reservations.append(booking) or "" }}
  {% endfor %}
  <h4 id="dash">Reservations ({{ booking|count }})</h4>
  <p id="more-info">All reservations will be shown here. The latest will be at the top</p>
  {% if propertiez.booking %}
  <div class="reservations">
    <h4 id="reservation-status">Active Reservations</h4>
    {% if booking %}
    {% for reserves in propertiez.booking|sort(attribute='date', reverse=true) if reserves.status == "Active" %}
    <div class="reservation-details">
      <div class="reservation-info">
        <h4>Reservation ID <span id="reserve-id">{{ reserves.booking_id }}</span></h4>
        <span id="status">{{ reserves.status }}</span>
        <hr>
        <p>Reserved By</p>
        {% for user in all_users if user.username == reserves.user %}
        <ul id="user-info">
          <li>Name: <span>{{ user.first_name }} {{ user.second_name }}</span></li>
          <li>Phone Number: <span>0{{ user.phone }}</span></li>
        </ul>
        {% endfor %}
        {% for unit in units if unit.id == reserves.unit %}
        <p>Reserved Unit</p>
        <ul id="unit-info">
          <li>Unit Name: <span>{{ unit.name }}</span></li>
          <li>Unit Type: <span>{{ unit.Type }}</span></li>
          <li>Unit Floor: <span>{{ unit.unit_floor }}{% if unit.unit_floor % 10 == 1 %}<sup>st</sup>
              Floor{% elif unit.unit_floor % 10 == 2 %}<sup>nd</sup>
              Floor{% elif unit.unit_floor % 10 == 3 %}<sup>rd</sup> Floor{% else %}<sup>th</sup> Floor
              {% endif %}</span></li>
        </ul>
        {% endfor %}
        <hr>
        <p>Expires on <span id="expire">{{ reserves.expiry_date.strftime('%d/%m/%Y') }}</span> at <span
            id="expire">{{ reserves.expiry_date.strftime('%I:%M %p') }}</span></p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h4 class="else">No Active Reservations</h4>
    {% endif %}
    {% if expired_reservations %}
    <hr id="divider">
    {% else %}
    {% endif %}
    {% if expired_reservations %}
    <h4 id="reservation-status">Expired Reservations</h4>
    {% for reserves in propertiez.booking|sort(attribute='expiry_date', reverse=true) if reserves.status == "Expired" %}
    <div class="expired reservation-info">
      <h4>Reservation ID <span id="reserve-id">{{ reserves.booking_id }}</span></h4>
      <span id="status-expired">{{ reserves.status }}</span>
      <hr>
      {% for unit in units if unit.id == reserves.unit %}
      <p>Reserved Unit</p>
      <ul id="unit-info">
        <li>Unit Name: <span>{{ unit.name }}</span></li>
        <li>Unit Type: <span>{{ unit.Type }}</span></li>
        <li>Unit Floor: <span>{{ unit.unit_floor }}{% if unit.unit_floor % 10 == 1 %}<sup>st</sup>
            Floor{% elif unit.unit_floor % 10 == 2 %}<sup>nd</sup>
            Floor{% elif unit.unit_floor % 10 == 3 %}<sup>rd</sup> Floor{% else %}<sup>th</sup> Floor
            {% endif %}</span></li>
      </ul>
      {% endfor %}
      <hr>
      <p>Expired on <span id="expire">{{ reserves.expiry_date.strftime('%d/%m/%Y') }}</span> at <span
          id="expire">{{ reserves.expiry_date.strftime('%I:%M %p') }}</span></p>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}
  </div>
  {% else %}
  <h4 class="else">No units have been reserved</h4>
  {% endif %}
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="closemodal">&times;</span>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to remove <strong>{{ propertiez.name }}</strong>, this action is irreversible once
        completed.</p>
      <p>Review your actions before proceeding.</p>
      <div class="actions">
        <div class="action-info">
          <h4>Your actions will result in the following</h4>
          <ul>
            <li>Permanent removal of the selected property.</li>
            <li>All {{ propertiez.unit|count }} units will be removed.</li>
            <li>No new tenants can be added to the property.</li>
            <li>All reservations will be removed.</li>
          </ul>
        </div>
      </div>
      <div class="suggestions">
        <img src="{{ url_for('static', filename='Images/information.png') }}" alt="help">
        <p>We suggest you disable your property instead, since this does not entirely erase your property from
          the database but hides it. You can do this from the options section.</p>
      </div>
    </div>
    <div class="modal-footer">
      <a href="{{ url_for('landlord.delete_property', property_id=propertiez.unique_id) }}">
        <button>Remove</button>
      </a>
    </div>
  </div>
</div>
<div class="shifting">
  <img src="{{ url_for('static',filename='Images/refresh.png') }}" alt="switching properties">
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/property_dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/new_dash.js') }}"></script>
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}
