{% extends 'base_landlord.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tenant_details.css') }}">
{% endblock %}

{% block title %}
Tenant Profile
{% endblock %}

{% block nav %}
<a id="dashboards" href="{{ url_for('landlord.landlord_dashboard') }}">
  <button>
    <img src="{{ url_for('static', filename='Images/dashboard.png') }}" alt="dashboard">
    Dashboard
  </button>
</a>
<button class="tablinks active" onclick="openView(event, 'dashboard')">
  <img src="{{ url_for('static', filename='Images/man.png') }}" alt="dashboard">
  Tenant Profile
</button>
<button class="dropdown-btn">
  <img src="{{ url_for('static', filename='Images/building.png') }}" alt="property">
  My Properties
  <i class='fa fa-angle-down'></i>
</button>
<div class="drop-down-container">
  {% if current_user.properties %}
  {% for property in current_user.properties %}
  <a id="{{ property.id }}"
    href="{{ url_for('landlord.property_information', property_id=property.unique_id) }}">{{ property.name }}</a>
  {% endfor %}
  {% else %}
  <a href="#" class="tablinks">No property added</a>
  {% endif %}
</div>
{% endblock %}

{% block body %}
<div id="dashboard" class="tabcontent active">
  <h4 id="dash">Tenant Profile</h4>
  <p id="more-info">This shows the full profile for the selected tenant</p>
  <div class="tenant-info">
    <div class="tenant-profile-img">
      <div class="tenant-profile">
        <img src="{{ url_for('static', filename='Images/man.png') }}" alt="profile image">
        <div class="tenant-personal-info">
          <h4>Tenant Name</h4>
          <p>{{ tenant.first_name }} {{ tenant.last_name }}</p>
          <h4>Tenant Email Address</h4>
          <p>{{ tenant.email }}</p>
          <h4>Tenant Phone number</h4>
          <p>0{{ tenant.phone }}</p>
          <h4>Date Registered</h4>
          <p>{{ tenant.date.strftime('%d/%m/%Y') }}</p>
        </div>
      </div>
      <div class="tenant-extra">
        <a id="chat" href="{{ url_for('landlord.send_message', tenant_id=tenant.id) }}">Start Chat</a>
        <button id="modalbtn">Revoke Access</button>
      </div>
    </div>
    <div class="tenant-details-info">
      <div class="tenant-unit-info">
        <button class="accordion actives">Unit Information
          {% if tenant.unit %}
          <span class="status assigned">
            Assigned
          </span>
          {% else %}
          <span class="status not-assigned">
            Not Assigned
          </span>
          {% endif %}
        </button>
        <div class="panel">
          {% if tenant.unit %}
          <div class="card">
            <div class="image">
              <img src="{{ url_for('static', filename='Images/home.png') }}" />
            </div>
            <div class="text">
              <table>
                {% for unit in units if unit.tenant == tenant.id %}
                <tr>
                  <th>Unit ID</th>
                  <td>{{ unit.unit_id }}</td>
                </tr>
                <tr>
                  <th>Unit Name</th>
                  <td>{{ unit.name }}</td>
                </tr>
                <tr>
                  <th>Unit Type</th>
                  <td>{{ unit.unit_type}}</td>
                </tr>
                <tr>
                  <th>Unit Floor</th>
                  <td>
                    {{ unit.unit_floor }}{% if unit.unit_floor % 10 == 1 %}<sup>st</sup> Floor{%
                        elif unit.unit_floor % 10 == 2 %}<sup>nd</sup> Floor{% elif unit.unit_floor
                        % 10 == 3 %}<sup>rd</sup> Floor{% else %}<sup>th</sup> Floor {%
                        endif%}
                  </td>
                </tr>
                <tr>
                  <th>Unit Rent</th>
                  <td>{{ "Ksh {:,}".format(unit.rent_amount) }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          {% else %}
          <div class="unit-assign">
            {% set property = tenant_property %}
            {% set unit_count = [] %}
            {% for unit in property.unit if unit.tenant == None %}
            {{ unit_count.append(unit) or "" }}
            {% endfor %}
            {% if unit_count|count != 0 %}
            <p>Select a unit to assign</p>
            <form action="{{ url_for('landlord.assign_unit_now', tenant_id=tenant.id) }}" method="POST">
              <select name="unit-assign">
                {% for unit in property.unit if unit.tenant == None %}
                <option value="{{ unit.id }}">{{ unit.name }} - {{ unit.unit_type }}</option>
                {% endfor %}
              </select>
              <button type="submit">Assign</button>
            </form>
            {% else %}
            <p>No vacant units to assign</p>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="tenant-complaint-info">
        <button class="accordion">Complaints ({{ tenant.complaint|count }})</button>
        <div class="panel">
          {% if tenant.complaint %}
          <div class="info">
            {% for complaint in tenant.complaint|sort(attribute='time', reverse=True) %}
            <div class="complaint">
              <h1>{{ complaint.title }}</h1>
              <h4>Category: {{ complaint.category }}</h4>
              <p>{{ complaint.message }}</p>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <h4 class="else">No Complaints</h4>
          {% endif %}
        </div>
      </div>
      <div class="tenant-rent-info">
        <button class="accordion">
          Rent Information
          {% if tenant_invoices %}
          {% if tenant_invoices and tenant_invoices[-1].status == "Active" %}
          <span id="rent-info">This month not paid</span>
          {% elif tenant_invoices and tenant_invoices[-1].status == "Cleared" %}
          <span id="paid-rent">This month paid &check;</span>
          {% endif %}
          {% endif %}
        </button>
        <div class="panel">
          {% if tenant_invoices %}
          <div class="rent-info">
            {% for invoice in tenant_invoices|sort(attribute="date_created", reverse=true) if invoice.status != 'invalid' %}
            <div class="invoice-details">
              <h4>Invoice - #{{ invoice.unique_id }}</h4>
              <p>{{ "Ksh {:,}".format(invoice.amount) }}</p>
              <p>{{ invoice.date_created.strftime("Created on %d %B  %Y") }}</p>
              {% if invoice.date_closed %}
              <p>{{ invoice.date_closed.strftime("Cleared on %d %B %y") }}</p>
              {% endif %}
              {% if invoice.status == "Active" %}
              <p class="invoice-status active-invc">
                pending
              </p>
              {% elif invoice.status == "Cleared" %}
              <p class="invoice-status cleared">
                {{ invoice.status }} &check;
              </p>
              {% endif %}
            </div>
            {% endfor %}
            {% for invoice in tenant_invoices|sort(attribute="date_created", reverse=true) if invoice.status == 'invalid' %}
            <div class="invoice-details">
              <h4>Invoice - #{{ invoice.invoice_id }}</h4>
              <p>{{ "Ksh {:,}".format(invoice.amount) }}</p>
              <p>{{ invoice.date_created.strftime("Created on %d %B  %y") }}</p>
              {% if invoice.date_closed %}
              <p>{{ invoice.date_closed.strftime("Cleared on %d %B %y") }}</p>
              {% endif %}
              {% if invoice.status == "invalid" %}
              <p class="invoice-status invalid">
                {{ invoice.status }}
              </p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% else %}
          <div class="else">No rent information to show</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="closemodal">&times;</span>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to remove tenant <strong>{{ tenant.first_name }} {{ tenant.second_name }}
          {{ tenant.last_name }}</strong> from your property, this action is irreversible once completed.</p>
      <br>
      <p>Review your actions before proceeding.</p>
      <br>
      <div class="actions">
        <div class="action-info">
          <h4>Your actions will result in the following</h4>
          <ul>
            <li>Permanent removal of {{ tenant.first_name }} {{ tenant.second_name }} from
              {{ tenant_property.name }}.
            </li>
            <li>If there's a unit assigned to {{ tenant.first_name }} {{ tenant.second_name }}, it will become
              vacant.</li>
            <li>Any complaint made by {{ tenant.first_name }} {{ tenant.second_name }} will be deleted.</li>
            <li>{{ tenant.first_name }} {{ tenant.second_name }} will not be able to log in to their account.</li>
            <li>If this process was an accident, contact the admin for assistance.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="{{ url_for('landlord.remove_tenant_now', tenant_id=tenant.id) }}">
        <button>Revoke Access</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='js/new_dash.js') }}"></script>
{% endblock %}
