{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block title %}
Unit Registration
{% endblock %}

{% block content %}
{% endblock %}

{% block body %}
<div class="form">
  <h4>Add Unit</h4>
  <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="input">
      {{ form.name.label }}
      {{ form.name(placeholder="Enter Unit Name", class="name") }}
    </div>
    <div class="input">
      {{ form.floor.label }}
      {{ form.floor(placeholder="Enter Unit Floor", class="name") }}
    </div>
    <div class="input">
      {{ form.unit_type.label }}
      {{ form.unit_type() }}
    </div>
    <div class="input">
      {{ form.rent_amount.label }}
      {{ form.rent_amount(placeholder="Enter Monthly Rent", class="name")}}
    </div>
    <button class="btn" type="submit">
      <span class="button--text">Add Unit</span>
    </button>
  </form>
</div>

<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}
